a
  outline 0

h2
  font-size 35px

h4
  font-size 24px

h5
  font-size 19px

.clear
  clear both

.button
  font-size 16px
  color #000
  background #ffdc18
  padding 8px 16px 9px
  border-radius 2px
  display inline-block
  transition all .2s
  border-color transparent

  &:hover
    color #000
    box-shadow 0 0 2px rgba(0, 0, 0, .1)

  &--alt-1
    font-size 22px
    font-weight bold
    color #f40000
    border 1px solid #f40000
    background transparent
    padding-top 6px
    padding-bottom 10px

    &:hover
      color #fff
      background #cc3500
      border-color #cc3500

  &--type-big
    font-size 24px
    padding 12px 24px 10px

  &--type-transparent
    border 1px solid #ffdc18
    background-color transparent

    &:hover
      background-color #ffdc18

  &--type-dim
    height 23px
    padding 6px 10px
    background-color #ffeb9b
    font-size 13px
    color #724a09

    &:hover,
    &:active
      background-color #ffdc18
      color #724a09

.select
  &--type-transparent
    & + .select2
      .select2-selection
        background-color transparent
        box-shadow none

        &__rendered
          color #06418a

        &__arrow b
          border-top-color #06418a

      &.select2-container--open
        .select2-selection__arrow b
          border-bottom-color #06418a

        &:hover
          .select2-selection__arrow b
            border-bottom-color #cc3500

      &:hover
        .select2-selection
          &__rendered
            color #cc3500

          &__arrow b
            border-top-color #cc3500

  &--type-no-shadow
    & + .select2
      .select2-selection
        box-shadow none

  &--borders-yes
    & + .select2
      .select2-selection
        border 1px solid #ddd
        height 39px

        &__rendered
          line-height 29px

.select2
  *
    outline 0

  &-results__option
    font-size 16px

  .select2-selection
    border-color transparent
    background-color #fff
    box-shadow 0 5px 50px rgba(0, 0, 0, 0.15)
    border-radius 3px

  .selection
    .select2-selection
      &__arrow b
        margin-left 2px
        margin-top -1px
        border-width 4px 3px 0 4px
        border-top-color #000

      &__rendered
        font-size 16px
        padding-top 3px
        padding-left 12px
        text-align left
        padding-left 18px
        padding-top 5px

  &-container &-selection--single
    height 37px

  &-container--default &-selection--single &-selection__arrow
    top 5px
    right 5px

  &:hover
    .select2-selection
      &__arrow b
        border-top-color #cc3500

.select2-container
  .select2-dropdown
    background #fff
    border 0
    box-shadow 10px 10px 50px rgba(0, 0, 0, 0.15)
    margin-top 10px

  &--default .select2-results > .select2-results__options
    overflow-y visible

    .select2-results__option
      background-color #fff
      color #000
      padding 9px 22px 8px

      &:hover
        background-color #ffdc18

.form
  &-block
    border 1px solid #ddd
    border-radius 3px

.bx-wrapper
  position relative

  .bx-viewport
    border 0
    box-shadow none

  .bx-prev,
  .bx-next
    position absolute
    top 86px

    &:hover
      opacity .7

  .bx-prev
    sprite($bx-prev)
    left -50px

  .bx-next
    sprite($bx-next)
    right -50px

.fancybox-wrap
  border-radius 3px

.fancybox-close
  sprite($popup-close)
  top 20px
  right 21px

.fotorama
  &__stage__frame:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ''
    z-index 10
    background linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 )")


  &__caption
    bottom 16px
    padding 0 45px
    background-color transparent
    font-size 16px
    color #fff

    &__wrap
      background-color transparent
      text-align center

  &__arr
    &--next
      sprite($bx-next)
      right 8px

    &--prev
      sprite($bx-prev)
      left 8px
