backface-visibility()
  -webkit-backface-visibility arguments
 	backface-visibility arguments

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

transition()
  -webkit-transition arguments
  -moz-transition arguments
  -o-transition arguments
  transition arguments

a
  outline 0

.clear
  clear both

.button
  font-size 16px
  color #000
  background #ffdc18
  padding 8px 16px 9px
  border-radius 2px
  display inline-block

  &:hover
    color #000
    box-shadow 0 0 2px rgba(0, 0, 0, .1)

  &--alt-1
    font-size 22px
    font-weight bold
    color #f40000
    border 1px solid #f40000
    background transparent
    padding-top 6px
    padding-bottom 10px

    &:hover
      color #fff
      background #cc3500
      border-color #cc3500

  &--type-big
    font-size 24px
    padding 12px 24px 10px

.select
  &--type-transparent
    & + .select2
      .select2-selection
        border-color transparent
        background transparent

        &__rendered
          color #06418a

        &__arrow b
          border-top-color #06418a

      &.select2-container--open
        .select2-selection__arrow b
          border-bottom-color #06418a

        &:hover
          .select2-selection__arrow b
            border-bottom-color #cc3500

      &:hover
        .select2-selection
          &__rendered
            color #cc3500

          &__arrow b
            border-top-color #cc3500

.select2
  *
    outline 0

  &-results__option
    font-size 16px

.select2-container
  .select2-dropdown
    background #fff
    border 0
    box-shadow 10px 10px 50px rgba(0, 0, 0, 0.15)
    margin-top 10px

  &--default .select2-results__options .select2-results__option
    background-color #fff
    color #000
    padding 9px 22px 8px

    &:hover
      background-color #ffdc18
