$about-icon-1_x = 0px;
$about-icon-1_y = 682px;
$about-icon-1_offset_x = 0px;
$about-icon-1_offset_y = -682px;
$about-icon-1_width = 80px;
$about-icon-1_height = 80px;
$about-icon-1_total_width = 324px;
$about-icon-1_total_height = 1810px;
$about-icon-1_image = '../img/sprite.png';
$about-icon-1_image_2x2 = '../img/sprite2x.png';
$about-icon-1 = 0px 682px 0px -682px 80px 80px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-2_x = 0px;
$about-icon-2_y = 518px;
$about-icon-2_offset_x = 0px;
$about-icon-2_offset_y = -518px;
$about-icon-2_width = 76px;
$about-icon-2_height = 80px;
$about-icon-2_total_width = 324px;
$about-icon-2_total_height = 1810px;
$about-icon-2_image = '../img/sprite.png';
$about-icon-2_image_2x2 = '../img/sprite2x.png';
$about-icon-2 = 0px 518px 0px -518px 76px 80px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-3_x = 0px;
$about-icon-3_y = 354px;
$about-icon-3_offset_x = 0px;
$about-icon-3_offset_y = -354px;
$about-icon-3_width = 80px;
$about-icon-3_height = 80px;
$about-icon-3_total_width = 324px;
$about-icon-3_total_height = 1810px;
$about-icon-3_image = '../img/sprite.png';
$about-icon-3_image_2x2 = '../img/sprite2x.png';
$about-icon-3 = 0px 354px 0px -354px 80px 80px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-4_x = 0px;
$about-icon-4_y = 436px;
$about-icon-4_offset_x = 0px;
$about-icon-4_offset_y = -436px;
$about-icon-4_width = 80px;
$about-icon-4_height = 80px;
$about-icon-4_total_width = 324px;
$about-icon-4_total_height = 1810px;
$about-icon-4_image = '../img/sprite.png';
$about-icon-4_image_2x2 = '../img/sprite2x.png';
$about-icon-4 = 0px 436px 0px -436px 80px 80px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-5_x = 0px;
$about-icon-5_y = 600px;
$about-icon-5_offset_x = 0px;
$about-icon-5_offset_y = -600px;
$about-icon-5_width = 96px;
$about-icon-5_height = 80px;
$about-icon-5_total_width = 324px;
$about-icon-5_total_height = 1810px;
$about-icon-5_image = '../img/sprite.png';
$about-icon-5_image_2x2 = '../img/sprite2x.png';
$about-icon-5 = 0px 600px 0px -600px 96px 80px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-6_x = 0px;
$about-icon-6_y = 34px;
$about-icon-6_offset_x = 0px;
$about-icon-6_offset_y = -34px;
$about-icon-6_width = 104px;
$about-icon-6_height = 24px;
$about-icon-6_total_width = 324px;
$about-icon-6_total_height = 1810px;
$about-icon-6_image = '../img/sprite.png';
$about-icon-6_image_2x2 = '../img/sprite2x.png';
$about-icon-6 = 0px 34px 0px -34px 104px 24px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$bx-next_x = 0px;
$bx-next_y = 1510px;
$bx-next_offset_x = 0px;
$bx-next_offset_y = -1510px;
$bx-next_width = 80px;
$bx-next_height = 140px;
$bx-next_total_width = 324px;
$bx-next_total_height = 1810px;
$bx-next_image = '../img/sprite.png';
$bx-next_image_2x2 = '../img/sprite2x.png';
$bx-next = 0px 1510px 0px -1510px 80px 140px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$bx-prev_x = 0px;
$bx-prev_y = 1368px;
$bx-prev_offset_x = 0px;
$bx-prev_offset_y = -1368px;
$bx-prev_width = 80px;
$bx-prev_height = 140px;
$bx-prev_total_width = 324px;
$bx-prev_total_height = 1810px;
$bx-prev_image = '../img/sprite.png';
$bx-prev_image_2x2 = '../img/sprite2x.png';
$bx-prev = 0px 1368px 0px -1368px 80px 140px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$footer-dev-logo_x = 0px;
$footer-dev-logo_y = 60px;
$footer-dev-logo_offset_x = 0px;
$footer-dev-logo_offset_y = -60px;
$footer-dev-logo_width = 98px;
$footer-dev-logo_height = 30px;
$footer-dev-logo_total_width = 324px;
$footer-dev-logo_total_height = 1810px;
$footer-dev-logo_image = '../img/sprite.png';
$footer-dev-logo_image_2x2 = '../img/sprite2x.png';
$footer-dev-logo = 0px 60px 0px -60px 98px 30px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$footer-separator_x = 0px;
$footer-separator_y = 4px;
$footer-separator_offset_x = 0px;
$footer-separator_offset_y = -4px;
$footer-separator_width = 12px;
$footer-separator_height = 12px;
$footer-separator_total_width = 324px;
$footer-separator_total_height = 1810px;
$footer-separator_image = '../img/sprite.png';
$footer-separator_image_2x2 = '../img/sprite2x.png';
$footer-separator = 0px 4px 0px -4px 12px 12px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$honors_x = 0px;
$honors_y = 282px;
$honors_offset_x = 0px;
$honors_offset_y = -282px;
$honors_width = 324px;
$honors_height = 70px;
$honors_total_width = 324px;
$honors_total_height = 1810px;
$honors_image = '../img/sprite.png';
$honors_image_2x2 = '../img/sprite2x.png';
$honors = 0px 282px 0px -282px 324px 70px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$logo-header_x = 0px;
$logo-header_y = 220px;
$logo-header_offset_x = 0px;
$logo-header_offset_y = -220px;
$logo-header_width = 242px;
$logo-header_height = 60px;
$logo-header_total_width = 324px;
$logo-header_total_height = 1810px;
$logo-header_image = '../img/sprite.png';
$logo-header_image_2x2 = '../img/sprite2x.png';
$logo-header = 0px 220px 0px -220px 242px 60px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$logo-main_x = 0px;
$logo-main_y = 764px;
$logo-main_offset_x = 0px;
$logo-main_offset_y = -764px;
$logo-main_width = 314px;
$logo-main_height = 80px;
$logo-main_total_width = 324px;
$logo-main_total_height = 1810px;
$logo-main_image = '../img/sprite.png';
$logo-main_image_2x2 = '../img/sprite2x.png';
$logo-main = 0px 764px 0px -764px 314px 80px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$logo_x = 0px;
$logo_y = 160px;
$logo_offset_x = 0px;
$logo_offset_y = -160px;
$logo_width = 240px;
$logo_height = 58px;
$logo_total_width = 324px;
$logo_total_height = 1810px;
$logo_image = '../img/sprite.png';
$logo_image_2x2 = '../img/sprite2x.png';
$logo = 0px 160px 0px -160px 240px 58px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$menu-separator_x = 0px;
$menu-separator_y = 18px;
$menu-separator_offset_x = 0px;
$menu-separator_offset_y = -18px;
$menu-separator_width = 14px;
$menu-separator_height = 14px;
$menu-separator_total_width = 324px;
$menu-separator_total_height = 1810px;
$menu-separator_image = '../img/sprite.png';
$menu-separator_image_2x2 = '../img/sprite2x.png';
$menu-separator = 0px 18px 0px -18px 14px 14px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$quote-close_x = 0px;
$quote-close_y = 126px;
$quote-close_offset_x = 0px;
$quote-close_offset_y = -126px;
$quote-close_width = 40px;
$quote-close_height = 32px;
$quote-close_total_width = 324px;
$quote-close_total_height = 1810px;
$quote-close_image = '../img/sprite.png';
$quote-close_image_2x2 = '../img/sprite2x.png';
$quote-close = 0px 126px 0px -126px 40px 32px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$quote-open_x = 0px;
$quote-open_y = 92px;
$quote-open_offset_x = 0px;
$quote-open_offset_y = -92px;
$quote-open_width = 40px;
$quote-open_height = 32px;
$quote-open_total_width = 324px;
$quote-open_total_height = 1810px;
$quote-open_image = '../img/sprite.png';
$quote-open_image_2x2 = '../img/sprite2x.png';
$quote-open = 0px 92px 0px -92px 40px 32px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-1_x = 0px;
$vacancy-slider-item-1_y = 846px;
$vacancy-slider-item-1_offset_x = 0px;
$vacancy-slider-item-1_offset_y = -846px;
$vacancy-slider-item-1_width = 90px;
$vacancy-slider-item-1_height = 82px;
$vacancy-slider-item-1_total_width = 324px;
$vacancy-slider-item-1_total_height = 1810px;
$vacancy-slider-item-1_image = '../img/sprite.png';
$vacancy-slider-item-1_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-1 = 0px 846px 0px -846px 90px 82px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-2_x = 0px;
$vacancy-slider-item-2_y = 930px;
$vacancy-slider-item-2_offset_x = 0px;
$vacancy-slider-item-2_offset_y = -930px;
$vacancy-slider-item-2_width = 82px;
$vacancy-slider-item-2_height = 92px;
$vacancy-slider-item-2_total_width = 324px;
$vacancy-slider-item-2_total_height = 1810px;
$vacancy-slider-item-2_image = '../img/sprite.png';
$vacancy-slider-item-2_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-2 = 0px 930px 0px -930px 82px 92px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-3_x = 0px;
$vacancy-slider-item-3_y = 1232px;
$vacancy-slider-item-3_offset_x = 0px;
$vacancy-slider-item-3_offset_y = -1232px;
$vacancy-slider-item-3_width = 156px;
$vacancy-slider-item-3_height = 134px;
$vacancy-slider-item-3_total_width = 324px;
$vacancy-slider-item-3_total_height = 1810px;
$vacancy-slider-item-3_image = '../img/sprite.png';
$vacancy-slider-item-3_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-3 = 0px 1232px 0px -1232px 156px 134px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-4_x = 0px;
$vacancy-slider-item-4_y = 1652px;
$vacancy-slider-item-4_offset_x = 0px;
$vacancy-slider-item-4_offset_y = -1652px;
$vacancy-slider-item-4_width = 140px;
$vacancy-slider-item-4_height = 158px;
$vacancy-slider-item-4_total_width = 324px;
$vacancy-slider-item-4_total_height = 1810px;
$vacancy-slider-item-4_image = '../img/sprite.png';
$vacancy-slider-item-4_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-4 = 0px 1652px 0px -1652px 140px 158px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-5_x = 0px;
$vacancy-slider-item-5_y = 1120px;
$vacancy-slider-item-5_offset_x = 0px;
$vacancy-slider-item-5_offset_y = -1120px;
$vacancy-slider-item-5_width = 88px;
$vacancy-slider-item-5_height = 110px;
$vacancy-slider-item-5_total_width = 324px;
$vacancy-slider-item-5_total_height = 1810px;
$vacancy-slider-item-5_image = '../img/sprite.png';
$vacancy-slider-item-5_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-5 = 0px 1120px 0px -1120px 88px 110px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-6_x = 0px;
$vacancy-slider-item-6_y = 1024px;
$vacancy-slider-item-6_offset_x = 0px;
$vacancy-slider-item-6_offset_y = -1024px;
$vacancy-slider-item-6_width = 94px;
$vacancy-slider-item-6_height = 94px;
$vacancy-slider-item-6_total_width = 324px;
$vacancy-slider-item-6_total_height = 1810px;
$vacancy-slider-item-6_image = '../img/sprite.png';
$vacancy-slider-item-6_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-6 = 0px 1024px 0px -1024px 94px 94px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-before_x = 0px;
$vacancy-slider-item-before_y = 0px;
$vacancy-slider-item-before_offset_x = 0px;
$vacancy-slider-item-before_offset_y = 0px;
$vacancy-slider-item-before_width = 38px;
$vacancy-slider-item-before_height = 2px;
$vacancy-slider-item-before_total_width = 324px;
$vacancy-slider-item-before_total_height = 1810px;
$vacancy-slider-item-before_image = '../img/sprite.png';
$vacancy-slider-item-before_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-before = 0px 0px 0px 0px 38px 2px 324px 1810px '../img/sprite.png' '../img/sprite2x.png';

spriteWidth($sprite) {
  width: ($sprite[4] / 2);
}

spriteHeight($sprite) {
  height: ($sprite[5] / 2);
}

spritePosition($sprite) {
  background-position: ($sprite[2] / 2) ($sprite[3] / 2);
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

spriteImage2x2($sprite) {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
		& {
			background-image: url($sprite[9]);
			background-size ($sprite[6] / 2) ($sprite[7] / 2) !important
		}
	}
}

sprite($sprite) {
  spriteImage($sprite)
  spriteImage2x2($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
