$about-icon-1_x = 0px;
$about-icon-1_y = 1426px;
$about-icon-1_offset_x = 0px;
$about-icon-1_offset_y = -1426px;
$about-icon-1_width = 80px;
$about-icon-1_height = 80px;
$about-icon-1_total_width = 324px;
$about-icon-1_total_height = 3362px;
$about-icon-1_image = '../img/sprite.png';
$about-icon-1_image_2x2 = '../img/sprite2x.png';
$about-icon-1 = 0px 1426px 0px -1426px 80px 80px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-2_x = 0px;
$about-icon-2_y = 1262px;
$about-icon-2_offset_x = 0px;
$about-icon-2_offset_y = -1262px;
$about-icon-2_width = 76px;
$about-icon-2_height = 80px;
$about-icon-2_total_width = 324px;
$about-icon-2_total_height = 3362px;
$about-icon-2_image = '../img/sprite.png';
$about-icon-2_image_2x2 = '../img/sprite2x.png';
$about-icon-2 = 0px 1262px 0px -1262px 76px 80px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-3_x = 0px;
$about-icon-3_y = 1016px;
$about-icon-3_offset_x = 0px;
$about-icon-3_offset_y = -1016px;
$about-icon-3_width = 80px;
$about-icon-3_height = 80px;
$about-icon-3_total_width = 324px;
$about-icon-3_total_height = 3362px;
$about-icon-3_image = '../img/sprite.png';
$about-icon-3_image_2x2 = '../img/sprite2x.png';
$about-icon-3 = 0px 1016px 0px -1016px 80px 80px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-4_x = 0px;
$about-icon-4_y = 1180px;
$about-icon-4_offset_x = 0px;
$about-icon-4_offset_y = -1180px;
$about-icon-4_width = 80px;
$about-icon-4_height = 80px;
$about-icon-4_total_width = 324px;
$about-icon-4_total_height = 3362px;
$about-icon-4_image = '../img/sprite.png';
$about-icon-4_image_2x2 = '../img/sprite2x.png';
$about-icon-4 = 0px 1180px 0px -1180px 80px 80px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-5_x = 0px;
$about-icon-5_y = 1344px;
$about-icon-5_offset_x = 0px;
$about-icon-5_offset_y = -1344px;
$about-icon-5_width = 96px;
$about-icon-5_height = 80px;
$about-icon-5_total_width = 324px;
$about-icon-5_total_height = 3362px;
$about-icon-5_image = '../img/sprite.png';
$about-icon-5_image_2x2 = '../img/sprite2x.png';
$about-icon-5 = 0px 1344px 0px -1344px 96px 80px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-icon-6_x = 0px;
$about-icon-6_y = 34px;
$about-icon-6_offset_x = 0px;
$about-icon-6_offset_y = -34px;
$about-icon-6_width = 104px;
$about-icon-6_height = 24px;
$about-icon-6_total_width = 324px;
$about-icon-6_total_height = 3362px;
$about-icon-6_image = '../img/sprite.png';
$about-icon-6_image_2x2 = '../img/sprite2x.png';
$about-icon-6 = 0px 34px 0px -34px 104px 24px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-1-active_x = 0px;
$about-sidepanel-1-active_y = 194px;
$about-sidepanel-1-active_offset_x = 0px;
$about-sidepanel-1-active_offset_y = -194px;
$about-sidepanel-1-active_width = 40px;
$about-sidepanel-1-active_height = 42px;
$about-sidepanel-1-active_total_width = 324px;
$about-sidepanel-1-active_total_height = 3362px;
$about-sidepanel-1-active_image = '../img/sprite.png';
$about-sidepanel-1-active_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-1-active = 0px 194px 0px -194px 40px 42px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-1_x = 0px;
$about-sidepanel-1_y = 238px;
$about-sidepanel-1_offset_x = 0px;
$about-sidepanel-1_offset_y = -238px;
$about-sidepanel-1_width = 40px;
$about-sidepanel-1_height = 42px;
$about-sidepanel-1_total_width = 324px;
$about-sidepanel-1_total_height = 3362px;
$about-sidepanel-1_image = '../img/sprite.png';
$about-sidepanel-1_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-1 = 0px 238px 0px -238px 40px 42px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-2-active_x = 0px;
$about-sidepanel-2-active_y = 332px;
$about-sidepanel-2-active_offset_x = 0px;
$about-sidepanel-2-active_offset_y = -332px;
$about-sidepanel-2-active_width = 40px;
$about-sidepanel-2-active_height = 48px;
$about-sidepanel-2-active_total_width = 324px;
$about-sidepanel-2-active_total_height = 3362px;
$about-sidepanel-2-active_image = '../img/sprite.png';
$about-sidepanel-2-active_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-2-active = 0px 332px 0px -332px 40px 48px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-2_x = 0px;
$about-sidepanel-2_y = 282px;
$about-sidepanel-2_offset_x = 0px;
$about-sidepanel-2_offset_y = -282px;
$about-sidepanel-2_width = 40px;
$about-sidepanel-2_height = 48px;
$about-sidepanel-2_total_width = 324px;
$about-sidepanel-2_total_height = 3362px;
$about-sidepanel-2_image = '../img/sprite.png';
$about-sidepanel-2_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-2 = 0px 282px 0px -282px 40px 48px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-3-active_x = 0px;
$about-sidepanel-3-active_y = 762px;
$about-sidepanel-3-active_offset_x = 0px;
$about-sidepanel-3-active_offset_y = -762px;
$about-sidepanel-3-active_width = 70px;
$about-sidepanel-3-active_height = 58px;
$about-sidepanel-3-active_total_width = 324px;
$about-sidepanel-3-active_total_height = 3362px;
$about-sidepanel-3-active_image = '../img/sprite.png';
$about-sidepanel-3-active_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-3-active = 0px 762px 0px -762px 70px 58px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-3_x = 0px;
$about-sidepanel-3_y = 822px;
$about-sidepanel-3_offset_x = 0px;
$about-sidepanel-3_offset_y = -822px;
$about-sidepanel-3_width = 70px;
$about-sidepanel-3_height = 58px;
$about-sidepanel-3_total_width = 324px;
$about-sidepanel-3_total_height = 3362px;
$about-sidepanel-3_image = '../img/sprite.png';
$about-sidepanel-3_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-3 = 0px 822px 0px -822px 70px 58px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-4-active_x = 0px;
$about-sidepanel-4-active_y = 646px;
$about-sidepanel-4-active_offset_x = 0px;
$about-sidepanel-4-active_offset_y = -646px;
$about-sidepanel-4-active_width = 56px;
$about-sidepanel-4-active_height = 54px;
$about-sidepanel-4-active_total_width = 324px;
$about-sidepanel-4-active_total_height = 3362px;
$about-sidepanel-4-active_image = '../img/sprite.png';
$about-sidepanel-4-active_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-4-active = 0px 646px 0px -646px 56px 54px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-4_x = 0px;
$about-sidepanel-4_y = 590px;
$about-sidepanel-4_offset_x = 0px;
$about-sidepanel-4_offset_y = -590px;
$about-sidepanel-4_width = 56px;
$about-sidepanel-4_height = 54px;
$about-sidepanel-4_total_width = 324px;
$about-sidepanel-4_total_height = 3362px;
$about-sidepanel-4_image = '../img/sprite.png';
$about-sidepanel-4_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-4 = 0px 590px 0px -590px 56px 54px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-5-active_x = 0px;
$about-sidepanel-5-active_y = 486px;
$about-sidepanel-5-active_offset_x = 0px;
$about-sidepanel-5-active_offset_y = -486px;
$about-sidepanel-5-active_width = 50px;
$about-sidepanel-5-active_height = 50px;
$about-sidepanel-5-active_total_width = 324px;
$about-sidepanel-5-active_total_height = 3362px;
$about-sidepanel-5-active_image = '../img/sprite.png';
$about-sidepanel-5-active_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-5-active = 0px 486px 0px -486px 50px 50px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-5_x = 0px;
$about-sidepanel-5_y = 538px;
$about-sidepanel-5_offset_x = 0px;
$about-sidepanel-5_offset_y = -538px;
$about-sidepanel-5_width = 50px;
$about-sidepanel-5_height = 50px;
$about-sidepanel-5_total_width = 324px;
$about-sidepanel-5_total_height = 3362px;
$about-sidepanel-5_image = '../img/sprite.png';
$about-sidepanel-5_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-5 = 0px 538px 0px -538px 50px 50px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-6-active_x = 0px;
$about-sidepanel-6-active_y = 382px;
$about-sidepanel-6-active_offset_x = 0px;
$about-sidepanel-6-active_offset_y = -382px;
$about-sidepanel-6-active_width = 50px;
$about-sidepanel-6-active_height = 50px;
$about-sidepanel-6-active_total_width = 324px;
$about-sidepanel-6-active_total_height = 3362px;
$about-sidepanel-6-active_image = '../img/sprite.png';
$about-sidepanel-6-active_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-6-active = 0px 382px 0px -382px 50px 50px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$about-sidepanel-6_x = 0px;
$about-sidepanel-6_y = 434px;
$about-sidepanel-6_offset_x = 0px;
$about-sidepanel-6_offset_y = -434px;
$about-sidepanel-6_width = 50px;
$about-sidepanel-6_height = 50px;
$about-sidepanel-6_total_width = 324px;
$about-sidepanel-6_total_height = 3362px;
$about-sidepanel-6_image = '../img/sprite.png';
$about-sidepanel-6_image_2x2 = '../img/sprite2x.png';
$about-sidepanel-6 = 0px 434px 0px -434px 50px 50px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$bx-next_x = 0px;
$bx-next_y = 2428px;
$bx-next_offset_x = 0px;
$bx-next_offset_y = -2428px;
$bx-next_width = 80px;
$bx-next_height = 140px;
$bx-next_total_width = 324px;
$bx-next_total_height = 3362px;
$bx-next_image = '../img/sprite.png';
$bx-next_image_2x2 = '../img/sprite2x.png';
$bx-next = 0px 2428px 0px -2428px 80px 140px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$bx-prev_x = 0px;
$bx-prev_y = 2286px;
$bx-prev_offset_x = 0px;
$bx-prev_offset_y = -2286px;
$bx-prev_width = 80px;
$bx-prev_height = 140px;
$bx-prev_total_width = 324px;
$bx-prev_total_height = 3362px;
$bx-prev_image = '../img/sprite.png';
$bx-prev_image_2x2 = '../img/sprite2x.png';
$bx-prev = 0px 2286px 0px -2286px 80px 140px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$footer-dev-logo_x = 0px;
$footer-dev-logo_y = 60px;
$footer-dev-logo_offset_x = 0px;
$footer-dev-logo_offset_y = -60px;
$footer-dev-logo_width = 98px;
$footer-dev-logo_height = 30px;
$footer-dev-logo_total_width = 324px;
$footer-dev-logo_total_height = 3362px;
$footer-dev-logo_image = '../img/sprite.png';
$footer-dev-logo_image_2x2 = '../img/sprite2x.png';
$footer-dev-logo = 0px 60px 0px -60px 98px 30px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$footer-separator_x = 0px;
$footer-separator_y = 4px;
$footer-separator_offset_x = 0px;
$footer-separator_offset_y = -4px;
$footer-separator_width = 12px;
$footer-separator_height = 12px;
$footer-separator_total_width = 324px;
$footer-separator_total_height = 3362px;
$footer-separator_image = '../img/sprite.png';
$footer-separator_image_2x2 = '../img/sprite2x.png';
$footer-separator = 0px 4px 0px -4px 12px 12px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$honors_x = 0px;
$honors_y = 944px;
$honors_offset_x = 0px;
$honors_offset_y = -944px;
$honors_width = 324px;
$honors_height = 70px;
$honors_total_width = 324px;
$honors_total_height = 3362px;
$honors_image = '../img/sprite.png';
$honors_image_2x2 = '../img/sprite2x.png';
$honors = 0px 944px 0px -944px 324px 70px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$logo-header_x = 0px;
$logo-header_y = 882px;
$logo-header_offset_x = 0px;
$logo-header_offset_y = -882px;
$logo-header_width = 242px;
$logo-header_height = 60px;
$logo-header_total_width = 324px;
$logo-header_total_height = 3362px;
$logo-header_image = '../img/sprite.png';
$logo-header_image_2x2 = '../img/sprite2x.png';
$logo-header = 0px 882px 0px -882px 242px 60px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$logo-main_x = 0px;
$logo-main_y = 1098px;
$logo-main_offset_x = 0px;
$logo-main_offset_y = -1098px;
$logo-main_width = 314px;
$logo-main_height = 80px;
$logo-main_total_width = 324px;
$logo-main_total_height = 3362px;
$logo-main_image = '../img/sprite.png';
$logo-main_image_2x2 = '../img/sprite2x.png';
$logo-main = 0px 1098px 0px -1098px 314px 80px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$logo_x = 0px;
$logo_y = 702px;
$logo_offset_x = 0px;
$logo_offset_y = -702px;
$logo_width = 240px;
$logo_height = 58px;
$logo_total_width = 324px;
$logo_total_height = 3362px;
$logo_image = '../img/sprite.png';
$logo_image_2x2 = '../img/sprite2x.png';
$logo = 0px 702px 0px -702px 240px 58px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$menu-separator_x = 0px;
$menu-separator_y = 18px;
$menu-separator_offset_x = 0px;
$menu-separator_offset_y = -18px;
$menu-separator_width = 14px;
$menu-separator_height = 14px;
$menu-separator_total_width = 324px;
$menu-separator_total_height = 3362px;
$menu-separator_image = '../img/sprite.png';
$menu-separator_image_2x2 = '../img/sprite2x.png';
$menu-separator = 0px 18px 0px -18px 14px 14px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$popup-close_x = 0px;
$popup-close_y = 160px;
$popup-close_offset_x = 0px;
$popup-close_offset_y = -160px;
$popup-close_width = 32px;
$popup-close_height = 32px;
$popup-close_total_width = 324px;
$popup-close_total_height = 3362px;
$popup-close_image = '../img/sprite.png';
$popup-close_image_2x2 = '../img/sprite2x.png';
$popup-close = 0px 160px 0px -160px 32px 32px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$quote-close_x = 0px;
$quote-close_y = 126px;
$quote-close_offset_x = 0px;
$quote-close_offset_y = -126px;
$quote-close_width = 40px;
$quote-close_height = 32px;
$quote-close_total_width = 324px;
$quote-close_total_height = 3362px;
$quote-close_image = '../img/sprite.png';
$quote-close_image_2x2 = '../img/sprite2x.png';
$quote-close = 0px 126px 0px -126px 40px 32px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$quote-open_x = 0px;
$quote-open_y = 92px;
$quote-open_offset_x = 0px;
$quote-open_offset_y = -92px;
$quote-open_width = 40px;
$quote-open_height = 32px;
$quote-open_total_width = 324px;
$quote-open_total_height = 3362px;
$quote-open_image = '../img/sprite.png';
$quote-open_image_2x2 = '../img/sprite2x.png';
$quote-open = 0px 92px 0px -92px 40px 32px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancies-right_x = 0px;
$vacancies-right_y = 2730px;
$vacancies-right_offset_x = 0px;
$vacancies-right_offset_y = -2730px;
$vacancies-right_width = 124px;
$vacancies-right_height = 288px;
$vacancies-right_total_width = 324px;
$vacancies-right_total_height = 3362px;
$vacancies-right_image = '../img/sprite.png';
$vacancies-right_image_2x2 = '../img/sprite2x.png';
$vacancies-right = 0px 2730px 0px -2730px 124px 288px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-form-resume-hover_x = 0px;
$vacancy-form-resume-hover_y = 1894px;
$vacancy-form-resume-hover_offset_x = 0px;
$vacancy-form-resume-hover_offset_y = -1894px;
$vacancy-form-resume-hover_width = 158px;
$vacancy-form-resume-hover_height = 126px;
$vacancy-form-resume-hover_total_width = 324px;
$vacancy-form-resume-hover_total_height = 3362px;
$vacancy-form-resume-hover_image = '../img/sprite.png';
$vacancy-form-resume-hover_image_2x2 = '../img/sprite2x.png';
$vacancy-form-resume-hover = 0px 1894px 0px -1894px 158px 126px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-form-resume_x = 0px;
$vacancy-form-resume_y = 2022px;
$vacancy-form-resume_offset_x = 0px;
$vacancy-form-resume_offset_y = -2022px;
$vacancy-form-resume_width = 158px;
$vacancy-form-resume_height = 126px;
$vacancy-form-resume_total_width = 324px;
$vacancy-form-resume_total_height = 3362px;
$vacancy-form-resume_image = '../img/sprite.png';
$vacancy-form-resume_image_2x2 = '../img/sprite2x.png';
$vacancy-form-resume = 0px 2022px 0px -2022px 158px 126px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-1_x = 0px;
$vacancy-slider-item-1_y = 1508px;
$vacancy-slider-item-1_offset_x = 0px;
$vacancy-slider-item-1_offset_y = -1508px;
$vacancy-slider-item-1_width = 90px;
$vacancy-slider-item-1_height = 82px;
$vacancy-slider-item-1_total_width = 324px;
$vacancy-slider-item-1_total_height = 3362px;
$vacancy-slider-item-1_image = '../img/sprite.png';
$vacancy-slider-item-1_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-1 = 0px 1508px 0px -1508px 90px 82px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-2_x = 0px;
$vacancy-slider-item-2_y = 1592px;
$vacancy-slider-item-2_offset_x = 0px;
$vacancy-slider-item-2_offset_y = -1592px;
$vacancy-slider-item-2_width = 82px;
$vacancy-slider-item-2_height = 92px;
$vacancy-slider-item-2_total_width = 324px;
$vacancy-slider-item-2_total_height = 3362px;
$vacancy-slider-item-2_image = '../img/sprite.png';
$vacancy-slider-item-2_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-2 = 0px 1592px 0px -1592px 82px 92px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-3_x = 0px;
$vacancy-slider-item-3_y = 2150px;
$vacancy-slider-item-3_offset_x = 0px;
$vacancy-slider-item-3_offset_y = -2150px;
$vacancy-slider-item-3_width = 156px;
$vacancy-slider-item-3_height = 134px;
$vacancy-slider-item-3_total_width = 324px;
$vacancy-slider-item-3_total_height = 3362px;
$vacancy-slider-item-3_image = '../img/sprite.png';
$vacancy-slider-item-3_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-3 = 0px 2150px 0px -2150px 156px 134px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-4_x = 0px;
$vacancy-slider-item-4_y = 2570px;
$vacancy-slider-item-4_offset_x = 0px;
$vacancy-slider-item-4_offset_y = -2570px;
$vacancy-slider-item-4_width = 140px;
$vacancy-slider-item-4_height = 158px;
$vacancy-slider-item-4_total_width = 324px;
$vacancy-slider-item-4_total_height = 3362px;
$vacancy-slider-item-4_image = '../img/sprite.png';
$vacancy-slider-item-4_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-4 = 0px 2570px 0px -2570px 140px 158px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-5_x = 0px;
$vacancy-slider-item-5_y = 1782px;
$vacancy-slider-item-5_offset_x = 0px;
$vacancy-slider-item-5_offset_y = -1782px;
$vacancy-slider-item-5_width = 88px;
$vacancy-slider-item-5_height = 110px;
$vacancy-slider-item-5_total_width = 324px;
$vacancy-slider-item-5_total_height = 3362px;
$vacancy-slider-item-5_image = '../img/sprite.png';
$vacancy-slider-item-5_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-5 = 0px 1782px 0px -1782px 88px 110px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-6_x = 0px;
$vacancy-slider-item-6_y = 1686px;
$vacancy-slider-item-6_offset_x = 0px;
$vacancy-slider-item-6_offset_y = -1686px;
$vacancy-slider-item-6_width = 94px;
$vacancy-slider-item-6_height = 94px;
$vacancy-slider-item-6_total_width = 324px;
$vacancy-slider-item-6_total_height = 3362px;
$vacancy-slider-item-6_image = '../img/sprite.png';
$vacancy-slider-item-6_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-6 = 0px 1686px 0px -1686px 94px 94px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$vacancy-slider-item-before_x = 0px;
$vacancy-slider-item-before_y = 0px;
$vacancy-slider-item-before_offset_x = 0px;
$vacancy-slider-item-before_offset_y = 0px;
$vacancy-slider-item-before_width = 38px;
$vacancy-slider-item-before_height = 2px;
$vacancy-slider-item-before_total_width = 324px;
$vacancy-slider-item-before_total_height = 3362px;
$vacancy-slider-item-before_image = '../img/sprite.png';
$vacancy-slider-item-before_image_2x2 = '../img/sprite2x.png';
$vacancy-slider-item-before = 0px 0px 0px 0px 38px 2px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';
$video-play_x = 0px;
$video-play_y = 3020px;
$video-play_offset_x = 0px;
$video-play_offset_y = -3020px;
$video-play_width = 296px;
$video-play_height = 342px;
$video-play_total_width = 324px;
$video-play_total_height = 3362px;
$video-play_image = '../img/sprite.png';
$video-play_image_2x2 = '../img/sprite2x.png';
$video-play = 0px 3020px 0px -3020px 296px 342px 324px 3362px '../img/sprite.png' '../img/sprite2x.png';

spriteWidth($sprite) {
  width: ($sprite[4] / 2);
}

spriteHeight($sprite) {
  height: ($sprite[5] / 2);
}

spritePosition($sprite) {
  background-position: ($sprite[2] / 2) ($sprite[3] / 2);
}

spriteImage($sprite) {
  background-image: url($sprite[8]);
}

spriteImage2x2($sprite) {
	@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
		& {
			background-image: url($sprite[9]);
			background-size ($sprite[6] / 2) ($sprite[7] / 2) !important
		}
	}
}

sprite($sprite) {
  spriteImage($sprite)
  spriteImage2x2($sprite)
  spritePosition($sprite)
  spriteWidth($sprite)
  spriteHeight($sprite)
}
