.clear {
  clear: both;
}
.button {
  font-size: 16px;
  color: #000;
  background: #ffdc18;
  padding: 8px 16px 9px;
}
.button:hover {
  color: #000;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
a {
  text-decoration: none;
  color: #444c50;
}
a:hover {
  color: #cc3500;
}
@font-face {
  font-family: 'geometriaheavy';
  src: url("fonts/geometria_heavy-webfont.eot");
  src: url("fonts/geometria_heavy-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/geometria_heavy-webfont.woff") format('woff'), url("fonts/geometria_heavy-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geometriabold';
  src: url("fonts/geometria_bold-webfont.eot");
  src: url("fonts/geometria_bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/geometria_bold-webfont.woff") format('woff'), url("fonts/geometria_bold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@import 'fotorama.css';
body {
  font: 24px Helvetica, Arial, sans-serif;
}
.layout {
  width: 960px;
  margin: 0 auto;
}
.menu {
  font-size: 17px;
  text-align: center;
  padding: 13px 0;
  border-bottom: 1px solid #d1d1d1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
}
.menu__item {
  display: inline-block;
}
.menu__item + .menu__item:before {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 7px;
  height: 7px;
  display: inline-block;
  margin: 0 16px;
  position: relative;
  top: -1px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .menu__item + .menu__item:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 148px !important;
  }
}
.layout {
  padding-top: 47px;
}
.header {
  position: relative;
}
.header__logo {
  float: left;
  background-image: url("../img/sprite.png");
  background-position: 0px -108px;
  width: 157px;
  height: 40px;
  margin-top: 33px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .header__logo {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 148px !important;
  }
}
.header__title {
  font-family: 'geometriaheavy';
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  padding: 30px 10px 0 163px;
  width: 590px;
  text-align: right;
}
.header__honors {
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  color: #7e7e7e;
  margin-left: 330px;
  padding-top: 8px;
  width: 400px;
}
.header__honors:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -72px;
  width: 162px;
  height: 35px;
  float: left;
  margin-right: 15px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .header__honors:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 148px !important;
  }
}
.header__send-resume {
  position: absolute;
  top: 40px;
  right: 0;
}
.main-slider {
  margin-top: 47px;
}
.main-slider__slide {
  width: 960px;
  height: 506px;
  position: relative;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.main-slider__background {
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,0,0,0.8)), color-stop(100%, rgba(246,245,242,0)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  background: -o-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  background: -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc000000", endColorstr="#00f6f5f2",GradientType=1 );
}
.main-slider__quote {
  padding: 74px 38px 0;
  width: 440px;
  font-size: 19px;
  line-height: 1.9em;
  position: relative;
}
.main-slider__quote strong {
  font-size: 24px;
  line-height: 1.9em;
}
.main-slider__quote:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -25px;
  width: 20px;
  height: 16px;
  position: absolute;
  top: 79px;
  left: 8px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .main-slider__quote:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 148px !important;
  }
}
.main-slider__author {
  font-size: 19px;
  font-style: italic;
  color: #5b594a;
  margin-top: -11px;
  padding-left: 78px;
}
.quote__close {
  background-image: url("../img/sprite.png");
  background-position: 0px -8px;
  width: 20px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: -7px;
  left: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .quote__close {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 148px !important;
  }
}
