@require 'fotorama.css'
@require 'select2.min.css'
@require 'normalize.css'
@require 'jquery.fancybox.css'
@require 'social-likes_classic.css'
@require 'sprite'
@require 'common'
@require 'default'
@require 'fonts'

html,
body
  height 100%

body
  font 24px $font

.content-wrapper
  position relative
  min-height 100%

  &__layout
    padding-bottom 195px

.layout
  width 960px
  margin 0 auto
  position relative
  z-index 50

  &--type-main
    padding-top 47px

  &--width-small
    width 925px

.menu
  font-size 17px
  text-align center
  padding 13px 0
  border-bottom 1px solid #d1d1d1
  position fixed
  top 0
  left 0
  right 0
  background #fff
  z-index 1000
  backface-visibility hidden

  &__item
    display inline-block
    position relative

    & + &:before
      sprite($menu-separator)
      display inline-block
      margin 0 16px
      position relative
      top -1px
      content ''

    &-list
      &:after
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 4px solid #444c50
        display inline-block
        position relative
        top -3px
        left 6px
        content ''

      &--state-opened + .menu__dropdown
        display block

      &:hover:after
        border-top-color #cc3500

  &__dropdown
    position absolute
    top 10px
    left 28px
    background #fff
    z-index 50
    list-style-type none
    box-shadow 10px 10px 50px rgba(0, 0, 0, 0.15)
    padding 0
    text-align left
    width 235px
    display none

    &-item
      display block
      min-height 30px
      padding 7px 5px 0 16px

      &:hover
        background #ffdc18
        color #000

.header
  position relative
  margin-top -9px
  margin-bottom 30px

  &--page-main
    margin-top 0
    margin-bottom 50px

  &__logo
    float left
    sprite($logo-header)
    margin-top 33px

    &--page-main
      sprite($logo-main)

  &__title
    font-family $fontHeavy
    font-size 35px
    font-weight 900
    font-style italic
    padding 30px 10px 0 163px
    width 620px
    text-align center

    &--page-main
      font-size 40px
      text-align right
      width 590px

  &__honors
    font-size 11px
    font-style italic
    font-weight 400
    line-height 1.4em
    color #7e7e7e
    position absolute
    top 35px
    right -15px

    &--page-main
      position static
      top auto
      right auto
      margin-left 330px
      padding-top 8px
      width 400px

    &:before
      sprite($honors)
      float left
      margin-right 15px
      content ''

  &__send-resume
    position absolute
    top 40px
    right 0

.footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 37px
  border-top 1px solid #c6c6c6
  padding-top 15px
  padding-bottom 35px
  font-size 11px
  line-height 1.45em

  &__item
    display inline-block
    vertical-align top
    padding-left 24px
    padding-right 24px
    position relative

    &:first-child
      padding-left 0

      &:before
        background transparent

    &:before
      position absolute
      top 7px
      left -7px
      sprite($footer-separator)
      content ''

  &__logo
    display inline-block
    vertical-align top
    float right

  &__logo-dev
    sprite($footer-dev-logo)
    margin-top 4px
    display block

.main-slider
  .bx-wrapper
    margin 0

  .bx-viewport
    box-shadow none
    border 0
    left 0
    border-radius 5px 5px 0 0

  &__slide
    position relative
    width 960px
    height 506px
    color #fff

  &__background
    width 100%
    height 100%
    margin-top -19px
    background linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(246,245,242,0) 100%)
    filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc000000", endColorstr="#00f6f5f2",GradientType=1 )')

  &__quote
    padding 74px 38px 0
    width 440px
    font-size 19px
    line-height 1.9em
    position relative

    strong
      font-size 24px
      line-height 1.9em

    &:before
      sprite($quote-open)
      position absolute
      top 79px
      left 8px
      content ''

  &__author
    font-size 19px
    font-style italic
    color #5b594a
    margin-top -11px
    padding-left 78px

  &__pager
    background #f6f5f2
    white-space nowrap
    font-size 0

  &__pager-item
    width 25%
    height 80px
    display inline-block
    white-space normal
    vertical-align top
    font-size 13px
    color #5f5b50
    padding 17px 10px 10px 85px
    background-repeat no-repeat
    box-sizing border-box
    border 3px solid transparent
    transition border-color .3s
    line-height 1.4em

    &.active
      border-color #ffdf2e
      cursor default

      &:hover
        opacity .99

    strong
      color #0f0e0b

    &:hover
      opacity .8
      color #5f5b50

.quote
  &__close
    sprite($quote-close)
    display inline-block
    position relative
    top -7px
    left 5px

.vacancy-slider
  padding-top 50px

  &__select-block
    text-align center
    font-size 19px
    position relative
    z-index 10

    h1
      font-size 30px
      color #000
      white-space nowrap
      margin-bottom 7px

  &__select
    width 300px

    & + .select2
      margin-top -6px
      margin-left -17px

      .select2-selection__rendered
        font-size 30px
        height 35px

  &__center
    width 480px
    margin 0 auto
    color #89877b

  &__additional-text
    line-height 1.95em

  &__pages
    border 1px solid #ffdc18
    display inline-block
    font-size 0
    margin-top 29px
    border-radius 3px

  &__page
    border-left 1px solid #ffdc18
    padding 8px 26px
    display inline-block
    font-size 18px
    color #000
    transition background-color .5s

    &:first-child
      border-left-color transparent

    &--state-active
      background #ffdc18

      &:hover
        color #000
        cursor default

  &__icons-container
    position absolute
    top -1000px
    left 0
    right 0
    bottom 0
    overflow hidden

  &__list-wrapper
    height 340px
    position relative

  &__list
    padding-top 55px
    width 880px
    padding-bottom 2px
    position absolute
    margin-left 50%
    top 1000px
    left -440px

    &--position-left
      left -100%

    &--position-right
      left 100%

  &__row
    padding-bottom 41px

  &__icon
    position absolute

    &--office-1,
    &--storage-1,
    &--store-1,
    &--students-1
      sprite($vacancy-slider-item-1)
      top -53px
      left 65px

    &--office-2,
    &--storage-2,
    &--store-2,
    &--students-2
      sprite($vacancy-slider-item-2)
      top -24px
      right 0

    &--office-3,
    &--storage-3,
    &--store-3,
    &--students-3
      sprite($vacancy-slider-item-3)
      top -77px
      right 17px

    &--office-4,
    &--storage-4,
    &--store-4,
    &--students-4
      sprite($vacancy-slider-item-4)
      top -56px
      left -77px

    &--office-5,
    &--storage-5,
    &--store-5,
    &--students-5
      sprite($vacancy-slider-item-5)
      top -50px
      left -5px

    &--office-6,
    &--storage-6,
    &--store-6,
    &--students-6
      sprite($vacancy-slider-item-6)
      top -40px
      right 27px

  &__item
    display inline-block
    width 30%
    vertical-align top
    position relative
    padding-left 37px

    &:first-child
      padding-left 0

      &:before
        left -24px

    &:before
      position absolute
      top 14px
      left 13px
      sprite($vacancy-slider-item-before)
      content ''

  &__title
    font-size 18px
    font-weight bold
    color #002d70

  &__description
    font-size 14px
    font-style italic
    color #7e7e7e
    padding-top 7px
    line-height 1.8em

  &__gradient
    background rgb(255,255,255)
    background linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,242,212,1) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff2d4',GradientType=0 )")

.drivers-search
  width 880px
  height 207px
  border-top 1px solid #d5c59f
  padding-top 140px
  white-space nowrap
  margin 0 auto

  &__content
    margin-top -90px
    position absolute

  &__image,
  &__text
    display inline-block

  &__text
    width 290px
    vertical-align top
    margin-top -35px
    white-space normal
    margin-right 70px

    h3
      font-size 30px
      color #000
      margin-bottom 0

    p
      font-size 19px
      color #60563e
      margin-top 5px
      line-height 1.9em

    .drivers-search__button
      margin-top 2px
      margin-left -7px

  &__image
    position absolute

    &:first-child
      left 0

    &:last-child
      right 0

.main-about
  position relative
  padding-top 45px
  height 463px

  &__left,
  &__right
    position absolute
    top 0
    width 480px
    height 508px

  &__left
    left -40px

  &__right
    right -40px

  &__text
    margin 0 auto
    width 500px
    position relative
    z-index 5
    text-align center

  &__additional-text
    width 200px
    margin 0 auto
    font-size 20px
    color #2d2d2d
    padding-top 15px
    line-height 1.6em

  &__count
    font-size 32px
    color #a79786

  &__number
    position relative
    top 17px
    font-size 80px
    font-weight bold
    font-style italic
    color #000

  &__send-resume
    margin-top 34px

  &__vacancies
    font-size 14px
    color #404040
    padding-top 112px

  &__vacancy-item
    display inline-block
    font-size 13px
    color #838383
    margin 6px 7px

.big-image
  margin 0 auto
  width 1100px
  height 564px
  position relative

  img
    margin-top 0

  &__text
    font-size 14px
    font-weight bold
    position absolute
    bottom 40px
    left 0
    right 0
    text-align center
    color #fff

    &--type-big
      width 490px
      margin 0 auto
      font-size 19px
      bottom 23px
      line-height 2em

  &__text-image
    position absolute
    bottom 152px
    left 50%
    margin-left -59px

  &--gradient-yes:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ''
    background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );")

.about-mission
  font-size 24px
  text-align center
  padding-top 56px
  padding-bottom 39px
  margin 0 auto
  line-height 2.3em
  border-bottom 1px dashed #ddd
  width 880px

  &__text
    width 820px
    margin 0 auto

  &__title
    margin-top -17px
    margin-bottom 6px

  &--bottom-border-no
    border-bottom-color transparent

.carousel
  padding 0 30px
  font-size 0

  &__title
    font-size 35px
    text-align center
    margin-bottom 39px

  &__title-text
    width 650px
    font-size 19px
    color #838383
    text-align center
    margin 0 auto
    margin-top -21px
    line-height 1.9em
    margin-bottom 40px

  &--background-yes
    margin-top 58px
    padding-top 20px
    background linear-gradient(to bottom, rgba(244,238,220,1) 0%,rgba(255,255,255,0) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4eedc', endColorstr='#00ffffff',GradientType=0 )")

  &--type-inline
    margin-left 1px
    padding-right 0
    margin-bottom -21px

  &__slide
    width 300px
    height 320px
    padding-left 10px

    &--type-inline
      display inline-block
      margin-right -3px
      margin-bottom 21px

  &__slide-link
    display inline-block
    width 266px
    height 300px
    border-radius 2px
    background #fff
    box-shadow 0 3px 10px rgba(0, 0, 0, .1)

  &__slide-name
    font-size 18px
    font-weight bold
    padding 15px 20px

  &__slide-description
    font-size 16px
    color #7f7f7f
    padding 0 20px
    margin-top -10px

  &__hidden
    display none

  &__popup
    width 720px
    position relative

    img
      border-radius 3px 3px 0 0

  &__name,
  &__post,
  &__description
    position absolute
    left 60px
    color #fff

  &__name
    font-size 35px
    top 50px

  &__post
    font-size 24px
    top 105px

  &__description
    font-size 19px
    line-height 1.9em
    top 342px

  &__text
    font-size 19px
    padding 0 60px
    margin-top 27px

    h4
      font-size 24px
      margin 0
      line-height 1.85em

    p
      margin-top -1px
      line-height 1.9em

  &-popup__title
    margin-bottom 45px

.about-value-block
  font-size 19px
  background #f7f7ef
  margin-top 49px
  padding-top 42px
  padding-bottom 115px

  &__title
    font-size 24px
    font-weight bold
    line-height 1.8em
    margin-bottom 24px

  &__column
    float left
    width 560px
    padding-top 57px
    padding-left 50px

    &:first-child
      width 350px
      line-height 1.9em
      padding-top 0
      padding-left 0

  &__row
    height 150px
    padding-top 26px

    &:first-child
      padding-top 0

  &__item
    width 150px
    font-size 13px
    display inline-block
    padding-top 61px
    position relative
    line-height 1.8em
    margin-left 45px
    vertical-align top

    &:first-child
      margin-left 0

  &__icon
    position absolute
    top 0
    left 27px

    &--type-1
      sprite($about-icon-1)

    &--type-2
      sprite($about-icon-2)

    &--type-3
      sprite($about-icon-3)

    &--type-4
      sprite($about-icon-4)

    &--type-5
      sprite($about-icon-5)

    &--type-6
      sprite($about-icon-6)
      top 16px
      left 22px

.about-video
  background #2c2a2a
  padding 30px 0

  &__video
    width 884px
    height 588px
    margin 0 auto

.video
  position relative
  cursor pointer

  &__screen
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    text-align center
    font-size 30px
    font-weight bold
    color #fff
    padding-top 370px
    display none

    &:before
      position absolute
      top 180px
      left 375px
      content ''
      sprite($video-play)

  &.paused &__screen
    display block

.about-contacts
  text-align center
  padding-top 44px

  &__text
    width 580px
    margin 0 auto

    &-description
      font-size 19px
      margin-top -16px
      line-height 1.9em

.about-map-wrapper
  position relative
  padding-top 42px

  .select2
    position absolute
    top 75px
    left 50%
    margin-left -482px
    z-index 5

.about-map
  width 100%
  height 582px

.about-sidepanel
  position fixed
  top 143px
  right 0
  z-index 100

  &__item
    display block
    width 73px
    height 65px
    background-color #999
    font-size 12px
    color #fff
    padding-top 24px
    text-align center
    transition background-color .5s

    &:hover
      color #fff
      opacity .85

    &--state-active
      background-color #4e4e4e
      cursor default

      &:hover
        color #fff

    &:first-child,
    &:last-child
      padding-top 30px

      &:before
        margin-bottom 5px

    &:first-child
      height 68px

    &:last-child
      height 81px

    &:before
      display block
      margin 0 auto
      content ''

    &--type-1
      &:before
        sprite($about-sidepanel-1)

      &.about-sidepanel__item--state-active:before
        sprite($about-sidepanel-1-active)

    &--type-2
      &:before
        sprite($about-sidepanel-2)

      &.about-sidepanel__item--state-active:before
        sprite($about-sidepanel-2-active)

    &--type-3
      &:before
        sprite($about-sidepanel-3)

      &.about-sidepanel__item--state-active:before
        sprite($about-sidepanel-3-active)

    &--type-4
      &:before
        sprite($about-sidepanel-4)

      &.about-sidepanel__item--state-active:before
        sprite($about-sidepanel-4-active)

    &--type-5
      &:before
        sprite($about-sidepanel-5)

      &.about-sidepanel__item--state-active:before
        sprite($about-sidepanel-5-active)

    &--type-6
      &:before
        sprite($about-sidepanel-6)

      &.about-sidepanel__item--state-active:before
        sprite($about-sidepanel-6-active)

.vacancies
  &__center
    text-align center

    h3
      font-size 29px
      margin-top -18px
      margin-bottom 27px

  &__select
    width 300px

    & + .select2
      margin-top -4px

      .select2-selection__rendered
        font-size 29px
        height 35px

  &-radio
    display none

    &-wrapper
      border 1px solid #ffdc18
      border-radius 3px
      display inline-block
      height 38px
      font-size 0

    &:first-child + &__container
      border-left 0

    & + &__container
      border-left 1px solid #ffdc18
      display inline-block
      cursor pointer
      font-size 18px
      height 31px
      padding 7px 24px 0 24px
      transition background-color .5s

    &:active + &__container
      background-color #fff8d1

      i
        font-size 13px

      &:hover
        color #cc3500

    &:checked + &__container
      background-color #ffdc18
      cursor default

      &:hover
        color #000

  &-sidepanel
    width 150px
    float left
    padding-top 54px
    padding-left 5px

    &__block
      padding-bottom 27px
      font-size 12px
      line-height 1.6em

    &__title
      font-size 13px
      font-weight bold
      margin-bottom 9px

    input
      position absolute

    label
      position relative
      top -2px
      left 20px
      display inline-block

  &-list
    float left
    width 540px
    padding 36px 50px 30px 50px

    &__item
      margin-top -6px
      padding-bottom 49px

    &__date
      font-size 12px
      color #b3b3b3

    &__title
      font-size 24px
      color #06418a
      border-bottom 1px solid #f0f0f0
      display inline-block
      margin-top 6px

    &__description
      font-size 14px
      color #4c4c4c
      padding-top 6px
      line-height 1.8em

    &-info
      font-size 12px
      margin-top 14px

      &__title
        font-weight 400
        text-align left

      &__value
        padding-top 5px

      &__title,
      &__value
        width 109px

  &-right-info
    padding-top 61px

    &__title
      font-size 15px
      font-weight bold
      line-height 1.6em

    &__description
      padding-top 2px
      font-size 12px
      line-height 1.85em

  &-right-car
    position absolute
    top 280px
    right 0
    sprite($vacancies-right)

.pager
  font-size 0

  &__title
    font-size 15px
    font-weight bold
    margin-bottom 7px

  &__items-block
    border 1px solid #ffdc18
    display inline-block
    border-radius 3px
    margin-right 10px

  &__item
    display inline-block
    border-left 1px solid #ffdc18
    font-size 14px
    padding 5px 12px 5px 13px
    transition background-color .5s

    &:first-child
      border-left 0

    &--state-active
      background-color #ffdc18
      cursor default

      &:hover
        color #000

    &:active
      background-color #fff8d1
      color #cc3500

.vacancy-info
  background-color #fff4d9
  border-radius 3px
  padding-bottom 30px
  margin-bottom 36px

  &__title
    background-color #ffe7ab
    border-radius 3px 3px 0 0
    font-size 15px
    color #bf9e4b
    line-height 30px
    padding 0 20px

  &-description
    margin-top 10px

    &__column
      padding-left 21px
      width 142px
      font-size 15px
      color #5a5446
      vertical-align top
      padding-top 7px

      &:first-child
        width 106px
        text-transform uppercase
        color #896f30

      &:last-child
        width auto

      &--type-small
        font-size 13px
        padding-top 0
        line-height 1.7em

    &__number
      font-size 20px
      font-weight bold
      position relative
      top -5px

.vacancy
  &-text-.text-content
    font-size 18px

    h5
      margin 32px 0 -22px 0

    p
      line-height 1.6em
      margin 29px 0

  &-left
    float left
    width 220px

  &-mid
    float left
    width 530px
    padding-left 220px

  &-right
    position absolute
    right 0
    width 190px
    padding-top 11px

    &__text
      font-size 12px
      line-height 1.9em
      padding-top 7px
      padding-left 10px
      padding-right 20px

.vacancy-contact
  padding-left 20px
  position absolute
  width 180px

  &__title
    font-size 12px
    color #896f30
    text-transform uppercase

  b
    font-size 16px

  i
    font-size 13px

  img
    margin-top 12px
    margin-bottom -4px

  p
    line-height .7em
    margin 0
    margin-top -4px

.vacancy-about-contact
  font-size 19px
  font-style italic
  line-height 2em
  margin-top -10px
  margin-bottom 44px

.text-content
  font-size 24px

  &__page
    width 878px
    margin 0 auto
    padding-top 24px
    padding-bottom 70px
    border-bottom 1px solid #bababa

  p
    margin 30px 0
    line-height 2.3em

  &__center
    margin-top 35px
    margin-bottom 45px

  figure
    line-height 2em

.spacing-text
  text-align center
  font-size 21px
  color #a79573
  text-transform uppercase
  letter-spacing .4em

.vacancy-form
  padding-top 47px
  padding-left 103px
  width 540px
  float left

  &__table-error
    display none
    position absolute
    top 0
    right -150px
    height 22px
    z-index 20
    padding-top 5px
    padding-left 10px
    padding-right 10px
    background-color #fcf5f2
    border 1px solid #cc3500
    font-size 13px
    color #cc3500

    &:before
      position absolute
      top 8px
      left -6px
      width 0
      height 0
      border-top 6px solid transparent
      border-right 7px solid #cc3500
      border-bottom 6px solid transparent
      content ''

    &:after
      position absolute
      top 9px
      left -5px
      width 0
      height 0
      border-top 5px solid transparent
      border-right 6px solid #fcf5f2
      border-bottom 5px solid transparent
      content ''

  &__table-row
    border-top 1px solid #ddd

    &:first-child
      border-top-color transparent

    &--error-yes
      .vacancy-form__table-cell:first-child
        color #cc3500

      .vacancy-form__table-error
        display block

  &__table-cell
    &:first-child
      width 217px
      font-size 13px
      font-weight bold
      text-align right
      vertical-align top
      padding-top 8px

    &-value
      position relative

  &__table-date-cell
    border-left 1px solid #ddd
    float left
    width 81px
    margin-left 9px
    overflow hidden

    &--type-month
      width 122px

  &__select + .select2
    display block
    width 100%
    margin-bottom 12px

  &__block-title
    padding-left 10px
    margin-bottom 14px

  &__input-text
    border 0
    width 312px
    height 24px
    font-size 13px
    position relative
    top -4px
    padding-left 9px

    &:focus
      outline 0

    &--type-textarea
      margin-top 4px
      padding-top 7px
      height 79px

  &-select + .select2
    margin 0

    .select2-selection
      height 31px

      &__arrow
        margin-top -4px

  &-resume
    background-color #f7f5ef
    text-align center
    padding-top 60px
    padding-bottom 56px
    font-size 13px

    p
      margin 9px 0
      line-height 1.8em

      &.vacancy-form-resume__top-p
        margin-bottom 25px

    &__file
      display none

      & + label
        sprite($vacancy-form-resume)
        display inline-block
        cursor pointer

        &:hover
          sprite($vacancy-form-resume-hover)

    &__file-link
      border 1px solid #ddd
      border-radius 3px
      position relative
      top -4px
      width 300px
      height 36px
      padding 0 10px
      line-height 14px

  &__submit
    width 100%
    margin-top 32px
    padding 11px 0 14px

  &-additional
    padding-top 21px
    padding-left 685px
    font-size 12px
    line-height 1.9em

    h5
      margin-bottom 7px

    &__buttons
      padding-top 12px
      padding-bottom 9px

    &__button
      margin-bottom 4px

  &__hidden-block
    display none

.vacancy-form-success
  text-align center
  padding-top 14px

  p
    margin -12px auto
    width 570px
    text-align left
    font-size 19px
    line-height 2em

  &__button
    width 505px
    margin-top 50px

.center
  text-align center

.learning-info
  padding-top 15px
  background-color #fbf7e5

  &__title
    text-align center

  &-table
    padding-top 6px
    padding-left 40px
    padding-bottom 54px

    &__column
      width 280px
      padding-right 20px
      display inline-block
      vertical-align top

    &__item
      margin-bottom 20px
      font-size 18px
      line-height 1.5em
      padding-left 24px
      position relative

      &:before
        position absolute
        top 13px
        left 0
        sprite($vacancy-slider-item-before)
        content ''

  &-description
    text-align center
    margin 0 auto
    width 880px
    border-top 1px solid #cfc184
    padding-top 16px
    padding-bottom 50px

    &__text
      width 480px
      margin 0 auto
      padding-top 6px
      font-size 12px
      line-height 1.9em

.university-quotations
  margin-top -20px
  padding-left 5px

.university-quotation
  display inline-block
  width 266px
  vertical-align top
  font-size 12px
  padding-left 35px
  padding-top 80px

  &--type-info
    font-size 19px
    margin-top 10px
    padding-left 75px
    line-height 1.9em
    width 226px

    b
      font-size 61px

  &__text
    font-size 12px
    border 1px solid #cecece
    position relative
    padding 16px 24px 24px
    line-height 1.9em

    &:before
      position absolute
      bottom -18px
      left 30px
      content ''
      width 0
      height 0
      border-top 18px solid #cecece
      border-right 23px solid transparent

    &:after
      position absolute
      bottom -16px
      left 31px
      content ''
      width 0
      height 0
      border-top 16px solid #fff
      border-right 20px solid transparent

  &__author
    padding 22px 30px 0 30px
    line-height 1.7em

.culture-center
  margin 0 auto
  width 650px
  text-align center
  font-size 19px
  color #6b6b6b
  margin-top -7px
  line-height 1.9em
  margin-bottom 76px

  &__title
    color #000
    margin-bottom 22px

  &__link
    color #2f488f
    border-bottom 1px solid #2f488f

    &:hover
      border-bottom-color transparent

.rect-links
  font-size 0
  background-size cover
  margin-bottom 70px

.rect-link
  width 240px
  height 226px
  display inline-block
  font-size 13px
  vertical-align top
  text-align center
  position relative
  padding-top 146px
  color #000
  overflow hidden

  &__title
    font-size 19px
    font-weight bold
    position relative
    z-index 1

  &__text
    padding 7px 30px
    line-height 1.9em
    position relative
    z-index 1

  &--position-alt
    padding-top 40px
    height 332px

  &__image
    position absolute
    top 45px
    left 120px
    transition all .5s

    &--position-bottom
      bottom 0
      top auto

    &--type-1
      margin-left -42px

  &:hover
    color #000

    .rect-link__image
      transform scale(1.1)
      bottom 0

.culture-bottom
  margin-top -35px
  margin-bottom -107px
  position relative

  img
    margin-bottom -8px

  &:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ''
    background linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(245,245,246,1) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f6',GradientType=0 )")
