@require 'fotorama.css'
@require 'jquery.bxslider.css';
@require 'normalize.css'
@require 'common'
@require 'default'
@require 'fonts'
@require 'sprite'

body
  font 24px $font

.layout
  width 960px
  margin 0 auto

  &--type-main
    padding-top 47px

.menu
  font-size 17px
  text-align center
  padding 13px 0
  border-bottom 1px solid #d1d1d1
  position fixed
  top 0
  left 0
  right 0
  background #fff
  z-index 1000

  &__item
    display inline-block

    & + &:before
      sprite($menu-separator)
      display inline-block
      margin 0 16px
      position relative
      top -1px
      content ''

    &--type-list
      &:after
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 4px solid #444c50
        display inline-block
        position relative
        top -3px
        left 6px
        content ''

      &:hover:after
        border-top-color #cc3500

.header
  position relative

  &__logo
    float left
    sprite($logo-main)
    margin-top 33px

  &__title
    font-family $fontHeavy
    font-size 40px
    font-weight 900
    font-style italic
    padding 30px 10px 0 163px
    width 590px
    text-align right

  &__honors
    font-size 11px
    font-style italic
    font-weight 400
    line-height 1.4em
    color #7e7e7e
    margin-left 330px
    padding-top 8px
    width 400px

    &:before
      sprite($honors)
      float left
      margin-right 15px
      content ''

  &__send-resume
    position absolute
    top 40px
    right 0

.main-slider
  margin-top 50px

  .bx-wrapper
    margin 0

  .bx-viewport
    box-shadow none
    border 0
    left 0
    border-radius 5px 5px 0 0

  &__slide
    position relative
    width 960px
    height 506px
    color #fff

  &__background
    width 100%
    height 100%
    margin-top -19px
    background -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%)
    background -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0.8)), color-stop(100%,rgba(246,245,242,0)))
    background -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(246,245,242,0) 100%)
    background -o-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(246,245,242,0) 100%)
    background -ms-linear-gradient(left, rgba(0,0,0,0.8) 0%,rgba(246,245,242,0) 100%)
    background linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(246,245,242,0) 100%)
    filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc000000", endColorstr="#00f6f5f2",GradientType=1 )')

  &__quote
    padding 74px 38px 0
    width 440px
    font-size 19px
    line-height 1.9em
    position relative

    strong
      font-size 24px
      line-height 1.9em

    &:before
      sprite($quote-open)
      position absolute
      top 79px
      left 8px
      content ''

  &__author
    font-size 19px
    font-style italic
    color #5b594a
    margin-top -11px
    padding-left 78px

  &__pager
    background #f6f5f2
    white-space nowrap
    font-size 0

  &__pager-item
    width 25%
    height 80px
    display inline-block
    white-space normal
    vertical-align top
    font-size 13px
    color #5f5b50
    padding 17px 10px 10px 85px
    background-repeat no-repeat
    box-sizing border-box
    border 3px solid transparent
    transition border-color .3s
    line-height 1.4em

    &.active
      border-color #ffdf2e
      cursor default

      &:hover
        opacity .99

    strong
      color #0f0e0b

    &:hover
      opacity .8
      color #5f5b50

.quote
  &__close
    sprite($quote-close)
    display inline-block
    position relative
    top -7px
    left 5px

.vacancy-slider
  padding-top 50px

  &__center
    text-align center
    font-size 19px
    color #89877b
    width 480px
    margin 0 auto

    h1
      font-size 30px
      color #000
      white-space nowrap
      margin-bottom 3px

  &__additional-text
    line-height 1.95em

  &__pages
    border 1px solid #ffdc18
    display inline-block
    font-size 0
    margin-top 29px

  &__page
    border-left 1px solid #ffdc18
    padding 8px 26px
    display inline-block
    font-size 18px
    color #000

    &:first-child
      border-left-color transparent

    &--state-active
      background #ffdc18

      &:hover
        color #000
        cursor default

  &__list
    padding-top 55px
    width 880px
    padding-bottom 2px
    margin 0 auto

  &__row
    padding-bottom 41px

  &__item
    display inline-block
    width 30%
    vertical-align top
    position relative
    padding-left 37px

    &:first-child
      padding-left 0

      &:before
        left -24px

    &:before
      position absolute
      top 14px
      left 13px
      sprite($vacancy-slider-item-before)
      content ''

    &--office-1:after,
    &--office-2:after,
    &--office-3:after,
    &--office-4:after,
    &--office-5:after,
    &--office-6:after
      position absolute
      content ''

    &--office-1:after
      sprite($vacancy-slider-item-1)
      top -53px
      left 65px

    &--office-2:after
      sprite($vacancy-slider-item-2)
      top -24px
      right 0

    &--office-3:after
      sprite($vacancy-slider-item-3)
      top -77px
      right 17px

    &--office-4:after
      sprite($vacancy-slider-item-4)
      top -56px
      left -77px

    &--office-5:after
      sprite($vacancy-slider-item-5)
      top -50px
      left -5px

    &--office-6:after
      sprite($vacancy-slider-item-6)
      top -40px
      right 27px

  &__title
    font-size 18px
    font-weight bold
    color #002d70

  &__description
    font-size 14px
    font-style italic
    color #7e7e7e
    padding-top 7px
    line-height 1.8em

  &__gradient
    background rgb(255,255,255)
    background -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(255,242,212,1) 100%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,242,212,1)))
    background -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,242,212,1) 100%)
    background -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,242,212,1) 100%)
    background -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,242,212,1) 100%)
    background linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,242,212,1) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff2d4',GradientType=0 )")

.drivers-search
  width 880px
  height 207px
  border-top 1px solid #d5c59f
  padding-top 140px
  white-space nowrap
  margin 0 auto

  &__content
    margin-top -90px
    position absolute

  &__image,
  &__text
    display inline-block

  &__text
    width 290px
    vertical-align top
    margin-top -35px
    white-space normal
    margin-right 70px

    h3
      font-size 30px
      color #000
      margin-bottom 0

    p
      font-size 19px
      color #60563e
      margin-top 5px
      line-height 1.9em

    .drivers-search__button
      margin-top 2px
      margin-left -7px

  &__image
    position absolute

    &:first-child
      left 0

    &:last-child
      right 0
