@import 'fotorama.css';
@import 'select2.min.css';
@import 'normalize.css';
@import 'jquery.fancybox.css';
a {
  outline: 0;
}
h2 {
  font-size: 35px;
}
.clear {
  clear: both;
}
.button {
  font-size: 16px;
  color: #000;
  background: #ffdc18;
  padding: 8px 16px 9px;
  border-radius: 2px;
  display: inline-block;
  -webkit-transition: all 0.2s;
          transition: all 0.2s;
}
.button:hover {
  color: #000;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.button--alt-1 {
  font-size: 22px;
  font-weight: bold;
  color: #f40000;
  border: 1px solid #f40000;
  background: transparent;
  padding-top: 6px;
  padding-bottom: 10px;
}
.button--alt-1:hover {
  color: #fff;
  background: #cc3500;
  border-color: #cc3500;
}
.button--type-big {
  font-size: 24px;
  padding: 12px 24px 10px;
}
.select--type-transparent + .select2 .select2-selection {
  background-color: transparent;
  box-shadow: none;
}
.select--type-transparent + .select2 .select2-selection__rendered {
  color: #06418a;
}
.select--type-transparent + .select2 .select2-selection__arrow b {
  border-top-color: #06418a;
}
.select--type-transparent + .select2.select2-container--open .select2-selection__arrow b {
  border-bottom-color: #06418a;
}
.select--type-transparent + .select2.select2-container--open:hover .select2-selection__arrow b {
  border-bottom-color: #cc3500;
}
.select--type-transparent + .select2:hover .select2-selection__rendered {
  color: #cc3500;
}
.select--type-transparent + .select2:hover .select2-selection__arrow b {
  border-top-color: #cc3500;
}
.select2 * {
  outline: 0;
}
.select2-results__option {
  font-size: 16px;
}
.select2 .select2-selection {
  border-color: transparent;
  background-color: #fff;
  box-shadow: 0 5px 50px rgba(0,0,0,0.15);
}
.select2 .select2-selection__rendered {
  font-size: 16px;
  padding-top: 3px;
  padding-left: 12px;
}
.select2-container .select2-selection--single {
  height: 37px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 5px;
  right: 9px;
}
.select2:hover .select2-selection__arrow b {
  border-top-color: #cc3500;
}
.select2-container .select2-dropdown {
  background: #fff;
  border: 0;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.15);
  margin-top: 10px;
}
.select2-container--default .select2-results__options .select2-results__option {
  background-color: #fff;
  color: #000;
  padding: 9px 22px 8px;
}
.select2-container--default .select2-results__options .select2-results__option:hover {
  background-color: #ffdc18;
}
.bx-wrapper {
  position: relative;
}
.bx-wrapper .bx-viewport {
  border: 0;
  box-shadow: none;
}
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  position: absolute;
  top: 86px;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-next:hover {
  opacity: 0.7;
}
.bx-wrapper .bx-prev {
  background-image: url("../img/sprite.png");
  background-position: 0px -998px;
  width: 40px;
  height: 70px;
  left: -50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .bx-wrapper .bx-prev {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.bx-wrapper .bx-next {
  background-image: url("../img/sprite.png");
  background-position: 0px -1069px;
  width: 40px;
  height: 70px;
  right: -50px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .bx-wrapper .bx-next {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.fancybox-wrap {
  border-radius: 3px;
}
a {
  text-decoration: none;
  color: #444c50;
}
a:hover {
  color: #cc3500;
}
@font-face {
  font-family: 'geometriaheavy';
  src: url("fonts/geometria_heavy-webfont.eot");
  src: url("fonts/geometria_heavy-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/geometria_heavy-webfont.woff") format('woff'), url("fonts/geometria_heavy-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geometriabold';
  src: url("fonts/geometria_bold-webfont.eot");
  src: url("fonts/geometria_bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/geometria_bold-webfont.woff") format('woff'), url("fonts/geometria_bold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  font: 24px Helvetica, Arial, sans-serif;
}
.content-wrapper {
  position: relative;
  min-height: 100%;
}
.content-wrapper__layout {
  padding-bottom: 195px;
}
.layout {
  width: 960px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
}
.layout--type-main {
  padding-top: 47px;
}
.menu {
  font-size: 17px;
  text-align: center;
  padding: 13px 0;
  border-bottom: 1px solid #d1d1d1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1000;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.menu__item {
  display: inline-block;
  position: relative;
}
.menu__item + .menu__item:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -9px;
  width: 7px;
  height: 7px;
  display: inline-block;
  margin: 0 16px;
  position: relative;
  top: -1px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .menu__item + .menu__item:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.menu__item-list:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #444c50;
  display: inline-block;
  position: relative;
  top: -3px;
  left: 6px;
  content: '';
}
.menu__item-list--state-opened + .menu__dropdown {
  display: block;
}
.menu__item-list:hover:after {
  border-top-color: #cc3500;
}
.menu__dropdown {
  position: absolute;
  top: 10px;
  left: 28px;
  background: #fff;
  z-index: 50;
  list-style-type: none;
  box-shadow: 10px 10px 50px rgba(0,0,0,0.15);
  padding: 0;
  text-align: left;
  width: 235px;
  display: none;
}
.menu__dropdown-item {
  display: block;
  min-height: 30px;
  padding: 7px 5px 0 16px;
}
.menu__dropdown-item:hover {
  background: #ffdc18;
  color: #000;
}
.header {
  position: relative;
  margin-top: -9px;
  margin-bottom: 30px;
}
.header--page-main {
  margin-top: 0;
  margin-bottom: 50px;
}
.header__logo {
  float: left;
  background-image: url("../img/sprite.png");
  background-position: 0px -424px;
  width: 121px;
  height: 30px;
  margin-top: 33px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .header__logo {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.header__logo--page-main {
  background-image: url("../img/sprite.png");
  background-position: 0px -491px;
  width: 157px;
  height: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .header__logo--page-main {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.header__title {
  font-family: 'geometriaheavy';
  font-size: 35px;
  font-weight: 900;
  font-style: italic;
  padding: 30px 10px 0 163px;
  width: 620px;
  text-align: center;
}
.header__title--page-main {
  font-size: 40px;
  text-align: right;
  width: 590px;
}
.header__honors {
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  color: #7e7e7e;
  position: absolute;
  top: 35px;
  right: -15px;
}
.header__honors--page-main {
  position: static;
  top: auto;
  right: auto;
  margin-left: 330px;
  padding-top: 8px;
  width: 400px;
}
.header__honors:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -455px;
  width: 162px;
  height: 35px;
  float: left;
  margin-right: 15px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .header__honors:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.header__send-resume {
  position: absolute;
  top: 40px;
  right: 0;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 37px;
  border-top: 1px solid #c6c6c6;
  padding-top: 15px;
  padding-bottom: 35px;
  font-size: 11px;
  line-height: 1.45em;
}
.footer__item {
  display: inline-block;
  vertical-align: top;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}
.footer__item:first-child {
  padding-left: 0;
}
.footer__item:first-child:before {
  background: transparent;
}
.footer__item:before {
  position: absolute;
  top: 7px;
  left: -7px;
  background-image: url("../img/sprite.png");
  background-position: 0px -2px;
  width: 6px;
  height: 6px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .footer__item:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.footer__logo {
  display: inline-block;
  vertical-align: top;
  float: right;
}
.footer__logo-dev {
  background-image: url("../img/sprite.png");
  background-position: 0px -30px;
  width: 49px;
  height: 15px;
  margin-top: 4px;
  display: block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .footer__logo-dev {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.main-slider .bx-wrapper {
  margin: 0;
}
.main-slider .bx-viewport {
  box-shadow: none;
  border: 0;
  left: 0;
  border-radius: 5px 5px 0 0;
}
.main-slider__slide {
  position: relative;
  width: 960px;
  height: 506px;
  color: #fff;
}
.main-slider__background {
  width: 100%;
  height: 100%;
  margin-top: -19px;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.8) 0%, rgba(246,245,242,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc000000", endColorstr="#00f6f5f2",GradientType=1 );
}
.main-slider__quote {
  padding: 74px 38px 0;
  width: 440px;
  font-size: 19px;
  line-height: 1.9em;
  position: relative;
}
.main-slider__quote strong {
  font-size: 24px;
  line-height: 1.9em;
}
.main-slider__quote:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -63px;
  width: 20px;
  height: 16px;
  position: absolute;
  top: 79px;
  left: 8px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .main-slider__quote:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.main-slider__author {
  font-size: 19px;
  font-style: italic;
  color: #5b594a;
  margin-top: -11px;
  padding-left: 78px;
}
.main-slider__pager {
  background: #f6f5f2;
  white-space: nowrap;
  font-size: 0;
}
.main-slider__pager-item {
  width: 25%;
  height: 80px;
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  font-size: 13px;
  color: #5f5b50;
  padding: 17px 10px 10px 85px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  border: 3px solid transparent;
  -webkit-transition: border-color 0.3s;
          transition: border-color 0.3s;
  line-height: 1.4em;
}
.main-slider__pager-item.active {
  border-color: #ffdf2e;
  cursor: default;
}
.main-slider__pager-item.active:hover {
  opacity: 0.99;
}
.main-slider__pager-item strong {
  color: #0f0e0b;
}
.main-slider__pager-item:hover {
  opacity: 0.8;
  color: #5f5b50;
}
.quote__close {
  background-image: url("../img/sprite.png");
  background-position: 0px -46px;
  width: 20px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: -7px;
  left: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .quote__close {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider {
  padding-top: 50px;
}
.vacancy-slider__select-block {
  text-align: center;
  font-size: 19px;
  position: relative;
  z-index: 10;
}
.vacancy-slider__select-block h1 {
  font-size: 30px;
  color: #000;
  white-space: nowrap;
  margin-bottom: 7px;
}
.vacancy-slider__select {
  width: 300px;
}
.vacancy-slider__select + .select2 {
  margin-top: -6px;
  margin-left: -17px;
}
.vacancy-slider__select + .select2 .select2-selection__rendered {
  font-size: 30px;
  height: 35px;
}
.vacancy-slider__center {
  width: 480px;
  margin: 0 auto;
  color: #89877b;
}
.vacancy-slider__additional-text {
  line-height: 1.95em;
}
.vacancy-slider__pages {
  border: 1px solid #ffdc18;
  display: inline-block;
  font-size: 0;
  margin-top: 29px;
  border-radius: 3px;
}
.vacancy-slider__page {
  border-left: 1px solid #ffdc18;
  padding: 8px 26px;
  display: inline-block;
  font-size: 18px;
  color: #000;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.vacancy-slider__page:first-child {
  border-left-color: transparent;
}
.vacancy-slider__page--state-active {
  background: #ffdc18;
}
.vacancy-slider__page--state-active:hover {
  color: #000;
  cursor: default;
}
.vacancy-slider__icons-container {
  position: absolute;
  top: -1000px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.vacancy-slider__list-wrapper {
  height: 340px;
  position: relative;
}
.vacancy-slider__list {
  padding-top: 55px;
  width: 880px;
  padding-bottom: 2px;
  position: absolute;
  margin-left: 50%;
  top: 1000px;
  left: -440px;
}
.vacancy-slider__list--position-left {
  left: -100%;
}
.vacancy-slider__list--position-right {
  left: 100%;
}
.vacancy-slider__row {
  padding-bottom: 41px;
}
.vacancy-slider__icon {
  position: absolute;
}
.vacancy-slider__icon--office-1,
.vacancy-slider__icon--storage-1,
.vacancy-slider__icon--store-1,
.vacancy-slider__icon--students-1 {
  background-image: url("../img/sprite.png");
  background-position: 0px -737px;
  width: 45px;
  height: 41px;
  top: -53px;
  left: 65px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__icon--office-1,
  .vacancy-slider__icon--storage-1,
  .vacancy-slider__icon--store-1,
  .vacancy-slider__icon--students-1 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__icon--office-2,
.vacancy-slider__icon--storage-2,
.vacancy-slider__icon--store-2,
.vacancy-slider__icon--students-2 {
  background-image: url("../img/sprite.png");
  background-position: 0px -779px;
  width: 41px;
  height: 46px;
  top: -24px;
  right: 0;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__icon--office-2,
  .vacancy-slider__icon--storage-2,
  .vacancy-slider__icon--store-2,
  .vacancy-slider__icon--students-2 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__icon--office-3,
.vacancy-slider__icon--storage-3,
.vacancy-slider__icon--store-3,
.vacancy-slider__icon--students-3 {
  background-image: url("../img/sprite.png");
  background-position: 0px -930px;
  width: 78px;
  height: 67px;
  top: -77px;
  right: 17px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__icon--office-3,
  .vacancy-slider__icon--storage-3,
  .vacancy-slider__icon--store-3,
  .vacancy-slider__icon--students-3 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__icon--office-4,
.vacancy-slider__icon--storage-4,
.vacancy-slider__icon--store-4,
.vacancy-slider__icon--students-4 {
  background-image: url("../img/sprite.png");
  background-position: 0px -1140px;
  width: 70px;
  height: 79px;
  top: -56px;
  left: -77px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__icon--office-4,
  .vacancy-slider__icon--storage-4,
  .vacancy-slider__icon--store-4,
  .vacancy-slider__icon--students-4 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__icon--office-5,
.vacancy-slider__icon--storage-5,
.vacancy-slider__icon--store-5,
.vacancy-slider__icon--students-5 {
  background-image: url("../img/sprite.png");
  background-position: 0px -874px;
  width: 44px;
  height: 55px;
  top: -50px;
  left: -5px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__icon--office-5,
  .vacancy-slider__icon--storage-5,
  .vacancy-slider__icon--store-5,
  .vacancy-slider__icon--students-5 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__icon--office-6,
.vacancy-slider__icon--storage-6,
.vacancy-slider__icon--store-6,
.vacancy-slider__icon--students-6 {
  background-image: url("../img/sprite.png");
  background-position: 0px -826px;
  width: 47px;
  height: 47px;
  top: -40px;
  right: 27px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__icon--office-6,
  .vacancy-slider__icon--storage-6,
  .vacancy-slider__icon--store-6,
  .vacancy-slider__icon--students-6 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__item {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  position: relative;
  padding-left: 37px;
}
.vacancy-slider__item:first-child {
  padding-left: 0;
}
.vacancy-slider__item:first-child:before {
  left: -24px;
}
.vacancy-slider__item:before {
  position: absolute;
  top: 14px;
  left: 13px;
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 19px;
  height: 1px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .vacancy-slider__item:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancy-slider__title {
  font-size: 18px;
  font-weight: bold;
  color: #002d70;
}
.vacancy-slider__description {
  font-size: 14px;
  font-style: italic;
  color: #7e7e7e;
  padding-top: 7px;
  line-height: 1.8em;
}
.vacancy-slider__gradient {
  background: #fff;
  background: -webkit-linear-gradient(top, #fff 0%, #fff2d4 100%);
  background: linear-gradient(to bottom, #fff 0%, #fff2d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff2d4',GradientType=0 );
}
.drivers-search {
  width: 880px;
  height: 207px;
  border-top: 1px solid #d5c59f;
  padding-top: 140px;
  white-space: nowrap;
  margin: 0 auto;
}
.drivers-search__content {
  margin-top: -90px;
  position: absolute;
}
.drivers-search__image,
.drivers-search__text {
  display: inline-block;
}
.drivers-search__text {
  width: 290px;
  vertical-align: top;
  margin-top: -35px;
  white-space: normal;
  margin-right: 70px;
}
.drivers-search__text h3 {
  font-size: 30px;
  color: #000;
  margin-bottom: 0;
}
.drivers-search__text p {
  font-size: 19px;
  color: #60563e;
  margin-top: 5px;
  line-height: 1.9em;
}
.drivers-search__text .drivers-search__button {
  margin-top: 2px;
  margin-left: -7px;
}
.drivers-search__image {
  position: absolute;
}
.drivers-search__image:first-child {
  left: 0;
}
.drivers-search__image:last-child {
  right: 0;
}
.main-about {
  position: relative;
  padding-top: 45px;
  height: 463px;
}
.main-about__left,
.main-about__right {
  position: absolute;
  top: 0;
  width: 480px;
  height: 508px;
}
.main-about__left {
  left: -40px;
}
.main-about__right {
  right: -40px;
}
.main-about__text {
  margin: 0 auto;
  width: 500px;
  position: relative;
  z-index: 5;
  text-align: center;
}
.main-about__additional-text {
  width: 200px;
  margin: 0 auto;
  font-size: 20px;
  color: #2d2d2d;
  padding-top: 15px;
  line-height: 1.6em;
}
.main-about__count {
  font-size: 32px;
  color: #a79786;
}
.main-about__number {
  position: relative;
  top: 17px;
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  color: #000;
}
.main-about__send-resume {
  margin-top: 34px;
}
.main-about__vacancies {
  font-size: 14px;
  color: #404040;
  padding-top: 112px;
}
.main-about__vacancy-item {
  display: inline-block;
  font-size: 13px;
  color: #838383;
  margin: 6px 7px;
}
.about-big-image {
  margin: 0 auto;
  width: 1100px;
  height: 564px;
  position: relative;
}
.about-big-image img {
  margin-top: 0;
}
.about-big-image__text {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
}
.about-big-image:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );;
}
.about-mission {
  font-size: 24px;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 39px;
  margin: 0 auto;
  line-height: 2.3em;
  border-bottom: 1px dashed #ddd;
  width: 880px;
}
.about-mission__text {
  width: 820px;
  margin: 0 auto;
}
.about-people-slider {
  padding-top: 45px;
  padding: 45px 30px 0 30px;
}
.about-people-slider__title {
  font-size: 35px;
  text-align: center;
  margin-bottom: 39px;
}
.about-people-slider__slide {
  width: 300px;
  height: 320px;
  padding-left: 10px;
}
.about-people-slider__slide-link {
  display: inline-block;
  width: 266px;
  height: 300px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}
.about-people-slider__slide-name {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 20px;
}
.about-people-slider__slide-description {
  font-size: 16px;
  color: #7f7f7f;
  padding: 0 20px;
  margin-top: -10px;
}
.about-people-slider__hidden {
  display: none;
}
.about-people-slider__popup {
  width: 720px;
  position: relative;
}
.about-people-slider__popup img {
  border-radius: 3px 3px 0 0;
}
.about-people-slider__name,
.about-people-slider__post,
.about-people-slider__description {
  position: absolute;
  left: 60px;
  color: #fff;
}
.about-people-slider__name {
  font-size: 35px;
  top: 50px;
}
.about-people-slider__post {
  font-size: 24px;
  top: 105px;
}
.about-people-slider__description {
  font-size: 19px;
  line-height: 1.9em;
  top: 342px;
}
.about-people-slider__text {
  font-size: 19px;
  padding: 0 60px;
  margin-top: 27px;
}
.about-people-slider__text h4 {
  font-size: 24px;
  margin: 0;
  line-height: 1.85em;
}
.about-people-slider__text p {
  margin-top: -1px;
  line-height: 1.9em;
}
.about-value-block {
  font-size: 19px;
  background: #f7f7ef;
  margin-top: 49px;
  padding-top: 42px;
  padding-bottom: 115px;
}
.about-value-block__title {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.8em;
  margin-bottom: 24px;
}
.about-value-block__column {
  float: left;
  width: 560px;
  padding-top: 57px;
  padding-left: 50px;
}
.about-value-block__column:first-child {
  width: 350px;
  line-height: 1.9em;
  padding-top: 0;
  padding-left: 0;
}
.about-value-block__row {
  height: 150px;
  padding-top: 26px;
}
.about-value-block__row:first-child {
  padding-top: 0;
}
.about-value-block__item {
  width: 150px;
  font-size: 13px;
  display: inline-block;
  padding-top: 61px;
  position: relative;
  line-height: 1.8em;
  margin-left: 45px;
  vertical-align: top;
}
.about-value-block__item:first-child {
  margin-left: 0;
}
.about-value-block__icon {
  position: absolute;
  top: 0;
  left: 27px;
}
.about-value-block__icon--type-1 {
  background-image: url("../img/sprite.png");
  background-position: 0px -573px;
  width: 40px;
  height: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-value-block__icon--type-1 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-value-block__icon--type-2 {
  background-image: url("../img/sprite.png");
  background-position: 0px -532px;
  width: 38px;
  height: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-value-block__icon--type-2 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-value-block__icon--type-3 {
  background-image: url("../img/sprite.png");
  background-position: 0px -696px;
  width: 40px;
  height: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-value-block__icon--type-3 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-value-block__icon--type-4 {
  background-image: url("../img/sprite.png");
  background-position: 0px -614px;
  width: 40px;
  height: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-value-block__icon--type-4 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-value-block__icon--type-5 {
  background-image: url("../img/sprite.png");
  background-position: 0px -655px;
  width: 48px;
  height: 40px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-value-block__icon--type-5 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-value-block__icon--type-6 {
  background-image: url("../img/sprite.png");
  background-position: 0px -17px;
  width: 52px;
  height: 12px;
  top: 16px;
  left: 22px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-value-block__icon--type-6 {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-video {
  background: #2c2a2a;
  padding: 30px 0;
}
.about-video__video {
  width: 884px;
  height: 588px;
  margin: 0 auto;
}
.video {
  position: relative;
  cursor: pointer;
}
.video__screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  padding-top: 370px;
  display: none;
}
.video__screen:before {
  position: absolute;
  top: 180px;
  left: 375px;
  content: '';
  background-image: url("../img/sprite.png");
  background-position: 0px -1220px;
  width: 148px;
  height: 171px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .video__screen:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.video.paused .video__screen {
  display: block;
}
.about-contacts {
  text-align: center;
  padding-top: 44px;
}
.about-contacts__text {
  width: 580px;
  margin: 0 auto;
}
.about-contacts__text-description {
  font-size: 19px;
  margin-top: -16px;
  line-height: 1.9em;
}
.about-map-wrapper {
  position: relative;
  padding-top: 42px;
}
.about-map-wrapper .select2 {
  position: absolute;
  top: 75px;
  left: 50%;
  margin-left: -482px;
  z-index: 5;
}
.about-map {
  width: 100%;
  height: 582px;
}
.about-sidepanel {
  position: fixed;
  top: 143px;
  right: 0;
  z-index: 100;
}
.about-sidepanel__item {
  display: block;
  width: 73px;
  height: 65px;
  background-color: #999;
  font-size: 12px;
  color: #fff;
  padding-top: 24px;
  text-align: center;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.about-sidepanel__item:hover {
  color: #fff;
  opacity: 0.85;
}
.about-sidepanel__item--state-active {
  background-color: #4e4e4e;
  cursor: default;
}
.about-sidepanel__item--state-active:hover {
  color: #fff;
}
.about-sidepanel__item:first-child,
.about-sidepanel__item:last-child {
  padding-top: 30px;
}
.about-sidepanel__item:first-child:before,
.about-sidepanel__item:last-child:before {
  margin-bottom: 5px;
}
.about-sidepanel__item:first-child {
  height: 68px;
}
.about-sidepanel__item:last-child {
  height: 81px;
}
.about-sidepanel__item:before {
  display: block;
  margin: 0 auto;
  content: '';
}
.about-sidepanel__item--type-1:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -102px;
  width: 20px;
  height: 21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-1:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-1.about-sidepanel__item--state-active:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -80px;
  width: 20px;
  height: 21px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-1.about-sidepanel__item--state-active:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-2:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -124px;
  width: 20px;
  height: 24px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-2:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-2.about-sidepanel__item--state-active:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -149px;
  width: 20px;
  height: 24px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-2.about-sidepanel__item--state-active:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-3:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -364px;
  width: 35px;
  height: 29px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-3:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-3.about-sidepanel__item--state-active:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -394px;
  width: 35px;
  height: 29px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-3.about-sidepanel__item--state-active:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-4:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -278px;
  width: 28px;
  height: 27px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-4:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-4.about-sidepanel__item--state-active:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -306px;
  width: 28px;
  height: 27px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-4.about-sidepanel__item--state-active:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-5:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -252px;
  width: 25px;
  height: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-5:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-5.about-sidepanel__item--state-active:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -226px;
  width: 25px;
  height: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-5.about-sidepanel__item--state-active:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-6:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -174px;
  width: 25px;
  height: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-6:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.about-sidepanel__item--type-6.about-sidepanel__item--state-active:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -200px;
  width: 25px;
  height: 25px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
  .about-sidepanel__item--type-6.about-sidepanel__item--state-active:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 1391px !important;
  }
}
.vacancies__center {
  text-align: center;
}
.vacancies__center h3 {
  font-size: 29px;
  margin-top: -18px;
  margin-bottom: 27px;
}
.vacancies__select {
  width: 300px;
}
.vacancies__select + .select2 {
  margin-top: -4px;
}
.vacancies__select + .select2 .select2-selection__rendered {
  font-size: 29px;
  height: 35px;
}
.vacancies-radio {
  display: none;
}
.vacancies-radio-wrapper {
  border: 1px solid #ffdc18;
  border-radius: 3px;
  display: inline-block;
  height: 38px;
  font-size: 0;
}
.vacancies-radio:first-child + .vacancies-radio__container {
  border-left: 0;
}
.vacancies-radio + .vacancies-radio__container {
  border-left: 1px solid #ffdc18;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  height: 31px;
  padding: 7px 24px 0 24px;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.vacancies-radio:active + .vacancies-radio__container {
  background-color: #fff8d1;
}
.vacancies-radio:active + .vacancies-radio__container i {
  font-size: 13px;
}
.vacancies-radio:active + .vacancies-radio__container:hover {
  color: #cc3500;
}
.vacancies-radio:checked + .vacancies-radio__container {
  background-color: #ffdc18;
  cursor: default;
}
.vacancies-radio:checked + .vacancies-radio__container:hover {
  color: #000;
}
.vacancies-sidepanel {
  width: 150px;
  padding-top: 54px;
  padding-left: 5px;
  float: left;
}
.vacancies-sidepanel__block {
  padding-bottom: 27px;
  font-size: 12px;
  line-height: 1.6em;
}
.vacancies-sidepanel__title {
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 9px;
}
.vacancies-sidepanel input {
  position: absolute;
}
.vacancies-sidepanel label {
  position: relative;
  top: -2px;
  left: 20px;
  display: inline-block;
}
.vacancies-list {
  float: left;
  width: 540px;
  padding: 36px 50px 30px 50px;
}
.vacancies-list__item {
  margin-top: -6px;
  padding-bottom: 49px;
}
.vacancies-list__date {
  font-size: 12px;
  color: #b3b3b3;
}
.vacancies-list__title {
  font-size: 24px;
  color: #06418a;
  border-bottom: 1px solid #f0f0f0;
  display: inline-block;
  margin-top: 6px;
}
.vacancies-list__description {
  font-size: 14px;
  color: #4c4c4c;
  padding-top: 6px;
  line-height: 1.8em;
}
.vacancies-list-info {
  font-size: 12px;
  margin-top: 14px;
}
.vacancies-list-info__title {
  font-weight: 400;
  text-align: left;
}
.vacancies-list-info__value {
  padding-top: 5px;
}
.vacancies-list-info__title,
.vacancies-list-info__value {
  width: 109px;
}
.pager {
  font-size: 0;
}
.pager__title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 7px;
}
.pager__items-block {
  border: 1px solid #ffdc18;
  display: inline-block;
  border-radius: 3px;
  margin-right: 10px;
}
.pager__item {
  display: inline-block;
  border-left: 1px solid #ffdc18;
  font-size: 14px;
  padding: 5px 12px 5px 13px;
  -webkit-transition: background-color 0.5s;
          transition: background-color 0.5s;
}
.pager__item:first-child {
  border-left: 0;
}
.pager__item--state-active {
  background-color: #ffdc18;
  cursor: default;
}
.pager__item--state-active:hover {
  color: #000;
}
.pager__item:active {
  background-color: #fff8d1;
  color: #cc3500;
}
