.button {
  font-size: 16px;
  color: #000;
  background: #ffdc18;
  padding: 8px 16px 9px;
  border-radius: 2px;
}
.button:hover {
  color: #000;
  box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
a {
  text-decoration: none;
  color: #444c50;
}
a:hover {
  color: #cc3500;
}
@font-face {
  font-family: 'geometriaheavy';
  src: url("fonts/geometria_heavy-webfont.eot");
  src: url("fonts/geometria_heavy-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/geometria_heavy-webfont.woff") format('woff'), url("fonts/geometria_heavy-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'geometriabold';
  src: url("fonts/geometria_bold-webfont.eot");
  src: url("fonts/geometria_bold-webfont.eot?#iefix") format('embedded-opentype'), url("fonts/geometria_bold-webfont.woff") format('woff'), url("fonts/geometria_bold-webfont.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 24px Helvetica, Arial, sans-serif;
}
.layout {
  width: 960px;
  margin: 0 auto;
}
.menu {
  font-size: 17px;
  text-align: center;
  padding: 13px 0;
  border-bottom: 1px solid #d1d1d1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.menu__item {
  display: inline-block;
}
.menu__item + .menu__item:before {
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 7px;
  height: 7px;
  display: inline-block;
  margin: 0 16px;
  position: relative;
  top: -1px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .menu__item + .menu__item:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 114px !important;
  }
}
.layout {
  padding-top: 47px;
}
.header {
  position: relative;
}
.header__logo {
  float: left;
  background-image: url("../img/sprite.png");
  background-position: 0px -74px;
  width: 157px;
  height: 40px;
  margin-top: 33px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .header__logo {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 114px !important;
  }
}
.header__title {
  font-family: 'geometriaheavy';
  font-size: 40px;
  font-weight: 900;
  font-style: italic;
  padding: 30px 10px 30px 163px;
  width: 590px;
  text-align: right;
}
.header__title__honors {
  font-size: 11px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4em;
  color: #7e7e7e;
  margin-right: 20px;
  padding-top: 8px;
  width: 400px;
  float: right;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
}
.header__title__honors:before {
  background-image: url("../img/sprite.png");
  background-position: 0px -38px;
  width: 162px;
  height: 35px;
  float: left;
  margin-right: 15px;
  content: '';
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  .header__title__honors:before {
    background-image: url("../img/sprite2x.png");
    background-size: 162px 114px !important;
  }
}
.header__send-resume {
  position: absolute;
  top: 40px;
  right: 0;
}
.clear {
  clear: both;
}
