@require 'fotorama.css'
@require 'select2.min.css'
@require 'normalize.css'
@require 'sprite'
@require 'common'
@require 'default'
@require 'fonts'

html,
body
  height 100%

body
  font 24px $font

.content-wrapper
  position relative
  min-height 100%

  &__layout
    padding-bottom 137px

.layout
  width 960px
  margin 0 auto
  position relative
  z-index 50

  &--type-main
    padding-top 47px

.menu
  font-size 17px
  text-align center
  padding 13px 0
  border-bottom 1px solid #d1d1d1
  position fixed
  top 0
  left 0
  right 0
  background #fff
  z-index 1000
  backface-visibility hidden

  &__item
    display inline-block
    position relative

    & + &:before
      sprite($menu-separator)
      display inline-block
      margin 0 16px
      position relative
      top -1px
      content ''

    &-list
      &:after
        width 0
        height 0
        border-left 4px solid transparent
        border-right 4px solid transparent
        border-top 4px solid #444c50
        display inline-block
        position relative
        top -3px
        left 6px
        content ''

      &--state-opened + .menu__dropdown
        display block

      &:hover:after
        border-top-color #cc3500

  &__dropdown
    position absolute
    top 10px
    left 28px
    background #fff
    z-index 50
    list-style-type none
    box-shadow 10px 10px 50px rgba(0, 0, 0, 0.15)
    padding 0
    text-align left
    width 235px
    display none

    &-item
      display block
      min-height 30px
      padding 7px 5px 0 16px

      &:hover
        background #ffdc18
        color #000

.header
  position relative
  margin-top -9px
  margin-bottom 30px

  &--page-main
    margin-top 0
    margin-bottom 50px

  &__logo
    float left
    sprite($logo-header)
    margin-top 33px

    &--page-main
      sprite($logo-main)

  &__title
    font-family $fontHeavy
    font-size 35px
    font-weight 900
    font-style italic
    padding 30px 10px 0 163px
    width 640px
    text-align center

    &--page-main
      font-size 40px
      text-align right
      width 590px

  &__honors
    font-size 11px
    font-style italic
    font-weight 400
    line-height 1.4em
    color #7e7e7e
    position absolute
    top 35px
    right -15px

    &--page-main
      position static
      top auto
      right auto
      margin-left 330px
      padding-top 8px
      width 400px

    &:before
      sprite($honors)
      float left
      margin-right 15px
      content ''

  &__send-resume
    position absolute
    top 40px
    right 0

.footer
  position absolute
  left 0
  bottom 0
  width 100%
  height 37px
  border-top 1px solid #c6c6c6
  padding-top 15px
  padding-bottom 35px
  font-size 11px
  line-height 1.45em

  &__item
    display inline-block
    vertical-align top
    padding-left 24px
    padding-right 24px
    position relative

    &:first-child
      padding-left 0

      &:before
        background transparent

    &:before
      position absolute
      top 7px
      left -7px
      sprite($footer-separator)
      content ''

  &__logo
    display inline-block
    vertical-align top
    float right

  &__logo-dev
    sprite($footer-dev-logo)
    margin-top 4px
    display block

.main-slider
  .bx-wrapper
    margin 0

  .bx-viewport
    box-shadow none
    border 0
    left 0
    border-radius 5px 5px 0 0

  &__slide
    position relative
    width 960px
    height 506px
    color #fff

  &__background
    width 100%
    height 100%
    margin-top -19px
    background linear-gradient(to right, rgba(0,0,0,0.8) 0%,rgba(246,245,242,0) 100%)
    filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr="#cc000000", endColorstr="#00f6f5f2",GradientType=1 )')

  &__quote
    padding 74px 38px 0
    width 440px
    font-size 19px
    line-height 1.9em
    position relative

    strong
      font-size 24px
      line-height 1.9em

    &:before
      sprite($quote-open)
      position absolute
      top 79px
      left 8px
      content ''

  &__author
    font-size 19px
    font-style italic
    color #5b594a
    margin-top -11px
    padding-left 78px

  &__pager
    background #f6f5f2
    white-space nowrap
    font-size 0

  &__pager-item
    width 25%
    height 80px
    display inline-block
    white-space normal
    vertical-align top
    font-size 13px
    color #5f5b50
    padding 17px 10px 10px 85px
    background-repeat no-repeat
    box-sizing border-box
    border 3px solid transparent
    transition border-color .3s
    line-height 1.4em

    &.active
      border-color #ffdf2e
      cursor default

      &:hover
        opacity .99

    strong
      color #0f0e0b

    &:hover
      opacity .8
      color #5f5b50

.quote
  &__close
    sprite($quote-close)
    display inline-block
    position relative
    top -7px
    left 5px

.vacancy-slider
  padding-top 50px

  &__select-block
    text-align center
    font-size 19px
    position relative
    z-index 10

    h1
      font-size 30px
      color #000
      white-space nowrap
      margin-bottom 7px

  &__select
    width 300px

    & + .select2
      margin-top -6px
      margin-left -17px

      .select2-selection__rendered
        font-size 30px
        height 35px

  &__center
    width 480px
    margin 0 auto
    color #89877b

  &__additional-text
    line-height 1.95em

  &__pages
    border 1px solid #ffdc18
    display inline-block
    font-size 0
    margin-top 29px
    border-radius 3px

  &__page
    border-left 1px solid #ffdc18
    padding 8px 26px
    display inline-block
    font-size 18px
    color #000
    transition background-color .5s

    &:first-child
      border-left-color transparent

    &--state-active
      background #ffdc18

      &:hover
        color #000
        cursor default

  &__icons-container
    position absolute
    top -1000px
    left 0
    right 0
    bottom 0
    overflow hidden

  &__list-wrapper
    height 340px
    position relative

  &__list
    padding-top 55px
    width 880px
    padding-bottom 2px
    position absolute
    margin-left 50%
    top 1000px
    left -440px

    &--position-left
      left -100%

    &--position-right
      left 100%

  &__row
    padding-bottom 41px

  &__icon
    position absolute

    &--office-1,
    &--storage-1,
    &--store-1,
    &--students-1
      sprite($vacancy-slider-item-1)
      top -53px
      left 65px

    &--office-2,
    &--storage-2,
    &--store-2,
    &--students-2
      sprite($vacancy-slider-item-2)
      top -24px
      right 0

    &--office-3,
    &--storage-3,
    &--store-3,
    &--students-3
      sprite($vacancy-slider-item-3)
      top -77px
      right 17px

    &--office-4,
    &--storage-4,
    &--store-4,
    &--students-4
      sprite($vacancy-slider-item-4)
      top -56px
      left -77px

    &--office-5,
    &--storage-5,
    &--store-5,
    &--students-5
      sprite($vacancy-slider-item-5)
      top -50px
      left -5px

    &--office-6,
    &--storage-6,
    &--store-6,
    &--students-6
      sprite($vacancy-slider-item-6)
      top -40px
      right 27px

  &__item
    display inline-block
    width 30%
    vertical-align top
    position relative
    padding-left 37px

    &:first-child
      padding-left 0

      &:before
        left -24px

    &:before
      position absolute
      top 14px
      left 13px
      sprite($vacancy-slider-item-before)
      content ''

  &__title
    font-size 18px
    font-weight bold
    color #002d70

  &__description
    font-size 14px
    font-style italic
    color #7e7e7e
    padding-top 7px
    line-height 1.8em

  &__gradient
    background rgb(255,255,255)
    background linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,242,212,1) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fff2d4',GradientType=0 )")

.drivers-search
  width 880px
  height 207px
  border-top 1px solid #d5c59f
  padding-top 140px
  white-space nowrap
  margin 0 auto

  &__content
    margin-top -90px
    position absolute

  &__image,
  &__text
    display inline-block

  &__text
    width 290px
    vertical-align top
    margin-top -35px
    white-space normal
    margin-right 70px

    h3
      font-size 30px
      color #000
      margin-bottom 0

    p
      font-size 19px
      color #60563e
      margin-top 5px
      line-height 1.9em

    .drivers-search__button
      margin-top 2px
      margin-left -7px

  &__image
    position absolute

    &:first-child
      left 0

    &:last-child
      right 0

.main-about
  position relative
  padding-top 45px
  height 463px

  &__left,
  &__right
    position absolute
    top 0
    width 480px
    height 508px

  &__left
    left -40px

  &__right
    right -40px

  &__text
    margin 0 auto
    width 500px
    position relative
    z-index 5
    text-align center

  &__additional-text
    width 200px
    margin 0 auto
    font-size 20px
    color #2d2d2d
    padding-top 15px
    line-height 1.6em

  &__count
    font-size 32px
    color #a79786

  &__number
    position relative
    top 17px
    font-size 80px
    font-weight bold
    font-style italic
    color #000

  &__send-resume
    margin-top 34px

  &__vacancies
    font-size 14px
    color #404040
    padding-top 112px

  &__vacancy-item
    display inline-block
    font-size 13px
    color #838383
    margin 6px 7px

.about-big-image
  margin 0 auto
  width 1100px
  height 564px
  position relative

  img
    margin-top 0

  &__text
    font-size 14px
    font-weight bold
    position absolute
    bottom 40px
    left 0
    right 0
    text-align center
    color #fff

  &:before
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    content ''
    background linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 100%)
    filter unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 );")

.about-mission
  font-size 24px
  text-align center
  padding-top 56px
  padding-bottom 39px
  margin 0 auto
  line-height 2.3em
  border-bottom 1px dashed #ddd
  width 880px

  &__text
    width 820px
    margin 0 auto

.about-people-slider
  padding-top 45px
  padding 45px 30px 0 30px

  &__title
    font-size 35px
    text-align center
    margin-bottom 39px

  &__slide
    width 300px
    height 320px
    padding-left 10px

  &__slide-link
    display inline-block
    width 266px
    height 300px
    border-radius 2px
    background #fff
    box-shadow 0 3px 10px rgba(0, 0, 0, .1)

  &__slide-name
    font-size 18px
    font-weight bold
    padding 15px 20px

  &__slide-description
    font-size 16px
    color #7f7f7f
    padding 0 20px
    margin-top -10px
